Repository dita-ot/dita-ot, pull requests merged in 2018-04, with the labels that each got.

#2927 Use linktext as fallback title for peer content
  src/main/xsl/preprocess/mappullImpl.xsl
Labels: P2, bug, preprocess

#2926 PDF should respect scaling for fig content
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
Labels: P2, bug, pdf

#2936 Fix NPE resulting from link to copy-to target
  src/main/java/org/dita/dost/module/CopyToModule.java
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/resources/copyto_linktarget/exp/preprocess/linktarget.ditamap
  src/test/resources/copyto_linktarget/exp/preprocess/test1.dita
  src/test/resources/copyto_linktarget/src/linktarget.ditamap
  src/test/resources/copyto_linktarget/src/test1.dita
Labels: P2, bug, preprocess

#2937 Remove base catalog file from catalog defaults
  src/main/config/CatalogManager.properties
Labels: P1, bug
