Repository dita-ot/dita-ot, pull requests merged in 2018-11, with the labels that each got.

#3137 Fix PDF build issue with RenderX XEP
  src/main/plugins/org.dita.pdf2.xep/build_xep.xml
Labels: bug, plugin/pdf, priority/high

#3139 Remove border="0" from HTML5 output #3128
  src/main/plugins/org.dita.html5/xsl/reference.xsl
  src/main/plugins/org.dita.html5/xsl/ut-d.xsl
Labels: bug, plugin/html5

#3140 Fix support for non-file input URI
  src/main/java/org/dita/dost/writer/DitaWriterFilter.java
Labels: bug, preprocess, priority/high

#3159 Use absolute URIs in XSLT imports and includes
  src/main/plugins/org.dita.eclipsehelp/xsl/map2eclipse_template.xsl
  src/main/plugins/org.dita.eclipsehelp/xsl/map2plugin_template.xsl
  src/main/plugins/org.dita.html5/xsl/dita2html5.xsl
  src/main/plugins/org.dita.html5/xsl/dita2html5Impl_template.xsl
  src/main/plugins/org.dita.html5/xsl/pr-d.xsl
  src/main/plugins/org.dita.html5/xsl/reference.xsl
  src/main/plugins/org.dita.html5/xsl/task.xsl
  src/main/plugins/org.dita.html5/xsl/topic.xsl
  src/main/plugins/org.dita.htmlhelp/xsl/map2hhc_template.xsl
  src/main/plugins/org.dita.htmlhelp/xsl/map2hhp_template.xsl
  src/main/plugins/org.dita.pdf2.axf/xsl/fo/topic2fo_shell_axf_template.xsl
  src/main/plugins/org.dita.pdf2.fop/xsl/fo/topic2fo_shell_fop_template.xsl
  src/main/plugins/org.dita.pdf2.xep/xsl/fo/topic2fo_shell_xep_template.xsl
  src/main/plugins/org.dita.pdf2/xsl/common/topicmerge_template.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/commons.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/flagging-preprocess_template.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/topic2fo.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/topic2fo_shell_template.xsl
  src/main/plugins/org.dita.xhtml/xsl/dita2html-base_template.xsl
  src/main/plugins/org.dita.xhtml/xsl/dita2html.xsl
  src/main/plugins/org.dita.xhtml/xsl/dita2xhtml.xsl
  src/main/plugins/org.dita.xhtml/xsl/map2htmltoc_template.xsl
  src/main/plugins/org.dita.xhtml/xsl/map2xhtml-cover.xsl
  src/main/plugins/org.dita.xhtml/xsl/map2xhtmltoc.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/dita2htmlImpl.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/map2TOC.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/pr-d.xsl
  src/main/xsl/common/dita-textonly.xsl
  src/main/xsl/common/dita-utilities.xsl
  src/main/xsl/common/output-message.xsl
  src/main/xsl/preprocess/clean-map.xsl
  src/main/xsl/preprocess/conrefImpl.xsl
  src/main/xsl/preprocess/conref_template.xsl
  src/main/xsl/preprocess/map-conref_template.xsl
  src/main/xsl/preprocess/maplinkImpl.xsl
  src/main/xsl/preprocess/maplink_template.xsl
  src/main/xsl/preprocess/mappullImpl.xsl
  src/main/xsl/preprocess/mappull_template.xsl
  src/main/xsl/preprocess/maprefImpl.xsl
  src/main/xsl/preprocess/mapref_template.xsl
  src/main/xsl/preprocess/topicpullImpl.xsl
  src/main/xsl/preprocess/topicpull_template.xsl
  src/test/java/org/dita/dost/util/XSpecTest.java
Labels: enhancement

#3155 Fix branch filter with uplevels
  src/main/java/org/dita/dost/module/BranchFilterModule.java
  src/test/java/org/dita/dost/module/BranchFilterModuleTest.java
  src/test/resources/BranchFilterModuleTest/exp/uplevels/main/testuplevels.ditamap
  src/test/resources/BranchFilterModuleTest/src/uplevels/main/advanced.ditaval
  src/test/resources/BranchFilterModuleTest/src/uplevels/main/kiddo.dita
  src/test/resources/BranchFilterModuleTest/src/uplevels/main/kiddodefault.dita
  src/test/resources/BranchFilterModuleTest/src/uplevels/main/novice.ditaval
  src/test/resources/BranchFilterModuleTest/src/uplevels/main/parent.dita
  src/test/resources/BranchFilterModuleTest/src/uplevels/main/parentdefault.dita
  src/test/resources/BranchFilterModuleTest/src/uplevels/main/subdirkiddo.dita
  src/test/resources/BranchFilterModuleTest/src/uplevels/main/subdirkiddodefault.dita
  src/test/resources/BranchFilterModuleTest/src/uplevels/main/testuplevels.ditamap
  src/test/resources/BranchFilterModuleTest/src/uplevels/peer/peerkiddo.dita
  src/test/resources/BranchFilterModuleTest/src/uplevels/peer/peerkiddodefault.dita
Labels: bug, preprocess/branch-filtering, priority/high
