Repository dita-ot/dita-ot, pull requests merged in 2018-10, with the labels that each got.

#3085 Remove src from copy-to fileinfos during initial read #3083
  src/main/java/org/dita/dost/module/reader/AbstractReaderModule.java
Labels: P2, bug, preprocess2

#3082 Update msg so broken link does not halt PDF build
  src/main/plugins/org.dita.pdf2/resource/messages.xml
Labels: P2, bug, pdf

#3081 Set title variable type to item instead of node
  src/main/plugins/org.dita.pdf2/xsl/fo/toc.xsl
Labels: P2, pdf

#3091 PDF2: Force footnotes to 'normal' when anchor is bold
  src/main/plugins/org.dita.pdf2/cfg/fo/attrs/topic-attr.xsl
Labels: bug, pdf

#3092 Create separate distribution packages for built-in plugins
  .travis.yml
  build.gradle
Labels: CI, build

#3102 New parameter to stop crawling non-map topic links
  src/main/java/org/dita/dost/module/GenMapAndTopicListModule.java
  src/main/java/org/dita/dost/module/reader/AbstractReaderModule.java
  src/main/java/org/dita/dost/module/reader/TopicReaderModule.java
  src/main/java/org/dita/dost/reader/GenListModuleReader.java
  src/main/java/org/dita/dost/util/Constants.java
  src/main/java/org/dita/dost/util/Job.java
  src/main/plugins/org.dita.base/build_init.xml
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/main/plugins/org.dita.base/build_preprocess_template.xml
  src/main/plugins/org.dita.base/plugin.xml
  src/test/java/org/dita/dost/AbstractIntegrationTest.java
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/java/org/dita/dost/module/TestGenMapAndTopicListModule.java
  src/test/java/org/dita/dost/module/reader/TopicReaderModuleTest.java
  src/test/resources/crawl_map/exp/preprocess/generate.dita
  src/test/resources/crawl_map/exp/preprocess/input.ditamap
  src/test/resources/crawl_map/exp/xhtml/generate.html
  src/test/resources/crawl_map/exp/xhtml/index.html
  src/test/resources/crawl_map/src/generate.dita
  src/test/resources/crawl_map/src/input.ditamap
  src/test/resources/crawl_map/src/localditalink.dita
  src/test/resources/crawl_map/src/localditaxref.dita
  src/test/resources/crawl_topic/exp/preprocess/generate.dita
  src/test/resources/crawl_topic/exp/preprocess/input.ditamap
  src/test/resources/crawl_topic/exp/preprocess/localditalink.dita
  src/test/resources/crawl_topic/exp/preprocess/localditaxref.dita
  src/test/resources/crawl_topic/exp/xhtml/generate.html
  src/test/resources/crawl_topic/exp/xhtml/index.html
  src/test/resources/crawl_topic/exp/xhtml/localditalink.html
  src/test/resources/crawl_topic/exp/xhtml/localditaxref.html
  src/test/resources/crawl_topic/src/generate.dita
  src/test/resources/crawl_topic/src/input.ditamap
  src/test/resources/crawl_topic/src/localditalink.dita
  src/test/resources/crawl_topic/src/localditaxref.dita
Labels: P1, feature, preprocess, preprocess2

#3103 HTML5: Made Dublin Core property names lower-case
  src/main/plugins/org.dita.html5/xsl/get-meta.xsl
  src/test/resources/html5_css/exp/html5/topic.html
  src/test/resources/html5_cssExternal/exp/html5/topic.html
  src/test/resources/html5_csspath/exp/html5/topic.html
Labels: html5

#3107 Remove transitive dependencies for Guava
  build.gradle
Labels: P2, build, dependency, enhancement

#3100 Add revbar in TOC when topic revised + changebar specified
  src/main/plugins/org.dita.pdf2/xsl/fo/toc.xsl
Labels: P2, enhancement, pdf

#3097 Allow conref to resolve with warnings for weak constraints #3084
  build.gradle
  src/main/config/messages_template.xml
  src/main/xsl/preprocess/conrefImpl.xsl
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/xsl/preprocess/conrefImpl.xspec
Labels: DITA 1.3, P1, enhancement, preprocess/conref

#3110 Log added and removed plugins during integration #3109
  src/main/java/org/dita/dost/platform/Integrator.java
Labels: P2, enhancement, platform

#3101 Add updating plugin registry during dist build
  .travis.yml
  .travis/ditaotbot_rsa.enc
  .travis/registry.js
  .travis/registry.sh
Labels: build, feature

#3106 Add support for using RNG schema in input files
  build.gradle
  src/main/java/org/ditang/relaxng/defaults/OxygenRelaxNGSchemaReader.java
  src/main/java/org/ditang/relaxng/defaults/RNCDefaultValues.java
  src/main/java/org/ditang/relaxng/defaults/RNGDefaultValues.java
  src/main/java/org/ditang/relaxng/defaults/RelaxDefaultsParserConfiguration.java
  src/main/java/org/ditang/relaxng/defaults/RelaxNGDefaultParserConfigurationWrapper.java
  src/main/java/org/ditang/relaxng/defaults/RelaxNGDefaultValues.java
  src/main/java/org/ditang/relaxng/defaults/RelaxNGDefaultsComponent.java
  src/main/java/org/ditang/relaxng/defaults/Util.java
  src/main/resources/META-INF/services/org.apache.xerces.xni.parser.XMLParserConfiguration
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/resources/rng/exp/preprocess/root.ditamap
  src/test/resources/rng/exp/preprocess/task.dita
  src/test/resources/rng/src/root.ditamap
  src/test/resources/rng/src/task.dita
Labels: DITA 1.3, P2, feature, preprocess

#3090 Extract attributes from structural HTML5 elements into attribute sets
  src/main/plugins/org.dita.html5/xsl/nav.xsl
  src/main/plugins/org.dita.html5/xsl/rel-links.xsl
  src/main/plugins/org.dita.html5/xsl/topic.xsl
Labels: P2, enhancement, html5

#3108 Add LwDITA XDITA to distribution
  build.gradle
Labels: build, dependency, dita standard

#3087 Update links to use new issue templates
  .github/CONTRIBUTING.md
  README.markdown
Labels: doc, enhancement

#3116 Fix PDF indentation for shortdesc in abstract
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
Labels: P2, bug, pdf

#3115 Div should inherit common block processing in PDF
  src/main/plugins/org.dita.pdf2/cfg/fo/attrs/topic-attr.xsl
Labels: P3, bug, pdf

#3120 Add option to force install existing plugin
  src/main/integrator.xml
  src/main/java/org/dita/dost/ant/PluginInstallTask.java
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/platform/Integrator.java
Labels: CLI, P2, feature, platform

#3127 Fix MapMeta bug that causes OutOfMemory Error
  src/main/java/org/dita/dost/module/MoveMetaModule.java
  src/main/java/org/dita/dost/reader/MapMetaReader.java
  src/main/java/org/dita/dost/writer/AbstractDitaMetaWriter.java
  src/main/java/org/dita/dost/writer/DitaMapMetaWriter.java
  src/main/java/org/dita/dost/writer/DitaMetaWriter.java
  src/test/resources/MapMetaReaderTest/exp/test.ditamap
  src/test/resources/MapMetaReaderTest/src/nest.xml
  src/test/resources/MapMetaReaderTest/src/test.ditamap
Labels: P1, bug, preprocess, preprocess2

#3119 Handle namespace atts in conref push module
  src/main/java/org/dita/dost/reader/ConrefPushReader.java
  src/test/java/org/dita/dost/writer/TestConrefPushParser.java
  src/test/resources/TestConrefPushParser/src/conrefpush_stub2.xml
  src/test/resources/TestConrefPushParser/src/conrefpush_stub2_backup.xml
Labels: P2, bug, preprocess/conref

#3039 Implement defaults output for hazard domain in PDF
  src/main/plugins/org.dita.pdf2/cfg/common/artwork/ISO_7010_W001.svg
  src/main/plugins/org.dita.pdf2/cfg/common/vars/commonvariables.xml
  src/main/plugins/org.dita.pdf2/cfg/common/vars/en.xml
  src/main/plugins/org.dita.pdf2/cfg/fo/attrs/hazard-d-attr.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/hazard-d.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/topic2fo.xsl
  src/main/xsl/common/dita-utilities.xsl
Labels: P2, enhancement, pdf

#3129 Fix for URI Exception when conref has backslash
  src/main/java/org/dita/dost/reader/GenListModuleReader.java
  src/main/java/org/dita/dost/writer/ValidationFilter.java
  src/test/java/org/dita/dost/writer/ValidationFilterTest.java
Labels: preprocess/conref

#3121 Add license file generation to dist
  build.gradle
  gradle/CERN.txt
  gradle/JAMESCLARK.txt
  gradle/LICENSE.dom-documentation.txt
  gradle/LICENSE.dom-software.txt
  gradle/LICENSE.sax.txt
  gradle/THAI.txt
  gradle/UNICODE.txt
  gradle/apache2.txt
  gradle/autolink-license.txt
  gradle/bsd-flexmark.txt
  gradle/bsd-jing.txt
  gradle/dist.gradle
  gradle/epl-1.0.txt
  gradle/htmlparser-license.txt
  gradle/icu.txt
  gradle/mit-slf4j.txt
  gradle/mpl2.txt
  gradle/oasis-dita11.txt
  gradle/oasis-dita12.txt
  gradle/oasis-dita13.txt
  gradle/oasis-lwdita.txt
  gradle/sax.txt
  src/main/NOTICES.txt
Labels: P1, build, enhancement

#3133 Update org.lwdita plugin to 2.0.7
  build.gradle
Labels: dependency, enhancement

#3136 Update xdita plugin to v0.2.2
  build.gradle
Labels: dependency, enhancement

#3134 Fix evaluation of char att in PDF
  src/main/plugins/org.dita.pdf2/xsl/fo/tables.xsl
Labels: bug, plugin/pdf, priority/medium
