Repository dita-ot/dita-ot, pull requests merged in 2018-08, with the labels that each got.

#3025 Remove legacy arguments in CLI
  src/main/java/org/dita/dost/invoker/Main.java
Labels: CLI, P3, enhancement

#3036 Remove TOC justfication for FOP #2403
  src/main/plugins/org.dita.pdf2.fop/cfg/fo/attrs/toc-attr_fop.xsl
  src/main/plugins/org.dita.pdf2.fop/xsl/fo/topic2fo_shell_fop_template.xsl
Labels: enhancement, pdf/fop

#3032 Improve handling of <q> in html5 / xhtml
  src/main/plugins/org.dita.html5/xsl/topic.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/dita2htmlImpl.xsl
  src/test/resources/image_extension_mixedcase/exp/xhtml/testpng.html
  src/test/resources/lang/exp/xhtml/lang-areg.html
  src/test/resources/lang/exp/xhtml/lang-beby.html
  src/test/resources/lang/exp/xhtml/lang-bgbg.html
  src/test/resources/lang/exp/xhtml/lang-caes.html
  src/test/resources/lang/exp/xhtml/lang-concept.html
  src/test/resources/lang/exp/xhtml/lang-cscz.html
  src/test/resources/lang/exp/xhtml/lang-dadk.html
  src/test/resources/lang/exp/xhtml/lang-dech.html
  src/test/resources/lang/exp/xhtml/lang-dede.html
  src/test/resources/lang/exp/xhtml/lang-elgr.html
  src/test/resources/lang/exp/xhtml/lang-enca.html
  src/test/resources/lang/exp/xhtml/lang-engb.html
  src/test/resources/lang/exp/xhtml/lang-enus.html
  src/test/resources/lang/exp/xhtml/lang-eses.html
  src/test/resources/lang/exp/xhtml/lang-etee.html
  src/test/resources/lang/exp/xhtml/lang-fifi.html
  src/test/resources/lang/exp/xhtml/lang-frbe.html
  src/test/resources/lang/exp/xhtml/lang-frca.html
  src/test/resources/lang/exp/xhtml/lang-frch.html
  src/test/resources/lang/exp/xhtml/lang-frfr.html
  src/test/resources/lang/exp/xhtml/lang-heil.html
  src/test/resources/lang/exp/xhtml/lang-hiin.html
  src/test/resources/lang/exp/xhtml/lang-hrhr.html
  src/test/resources/lang/exp/xhtml/lang-huhu.html
  src/test/resources/lang/exp/xhtml/lang-isis.html
  src/test/resources/lang/exp/xhtml/lang-itch.html
  src/test/resources/lang/exp/xhtml/lang-itit.html
  src/test/resources/lang/exp/xhtml/lang-jajp.html
  src/test/resources/lang/exp/xhtml/lang-kokr.html
  src/test/resources/lang/exp/xhtml/lang-ltlt.html
  src/test/resources/lang/exp/xhtml/lang-lvlv.html
  src/test/resources/lang/exp/xhtml/lang-mkmk.html
  src/test/resources/lang/exp/xhtml/lang-nlbe.html
  src/test/resources/lang/exp/xhtml/lang-nlnl.html
  src/test/resources/lang/exp/xhtml/lang-nono.html
  src/test/resources/lang/exp/xhtml/lang-plpl.html
  src/test/resources/lang/exp/xhtml/lang-ptbr.html
  src/test/resources/lang/exp/xhtml/lang-ptpt.html
  src/test/resources/lang/exp/xhtml/lang-roro.html
  src/test/resources/lang/exp/xhtml/lang-ruru.html
  src/test/resources/lang/exp/xhtml/lang-sksk.html
  src/test/resources/lang/exp/xhtml/lang-slsi.html
  src/test/resources/lang/exp/xhtml/lang-srsp.html
  src/test/resources/lang/exp/xhtml/lang-svse.html
  src/test/resources/lang/exp/xhtml/lang-thth.html
  src/test/resources/lang/exp/xhtml/lang-trtr.html
  src/test/resources/lang/exp/xhtml/lang-ukua.html
  src/test/resources/lang/exp/xhtml/lang-urpk.html
  src/test/resources/lang/exp/xhtml/lang-zhcn.html
  src/test/resources/lang/exp/xhtml/lang-zhtw.html
Labels: accessibility, enhancement, html5, xhtml

#3035 Remove yellow and add warning for unknown elements #2033
  src/main/config/messages_template.xml
  src/main/plugins/org.dita.html5/xsl/topic.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/dita2htmlImpl.xsl
Labels: P3, feature, html5, xhtml

#3030 Allow text-only links to appear with related-links
  src/main/plugins/org.dita.pdf2/xsl/fo/links.xsl
  src/main/xsl/preprocess/maplinkImpl.xsl
  src/main/xsl/preprocess/topicpullImpl.xsl
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/resources/reltableTextlink/exp/preprocess/1132.ditamap
  src/test/resources/reltableTextlink/exp/preprocess/booklist.dita
  src/test/resources/reltableTextlink/exp/preprocess/booklist2.dita
  src/test/resources/reltableTextlink/src/1132.ditamap
  src/test/resources/reltableTextlink/src/booklist.dita
  src/test/resources/reltableTextlink/src/booklist2.dita
Labels: enhancement, html5, pdf

#3029 Avoid failure for cite in preprocessed link node
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
Labels: P2, bug, pdf

#3023 Update LwDITA dependency to 2.0.6
  build.gradle
Labels: P2, dependency, enhancement

#3033 Fix NPE when conref range used on topics
  src/main/xsl/preprocess/conrefImpl.xsl
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/resources/conrefend/exp/preprocess/conrefsource.dita
  src/test/resources/conrefend/exp/preprocess/conreftarget.dita
  src/test/resources/conrefend/exp/preprocess/range.ditamap
  src/test/resources/conrefend/src/conrefsource.dita
  src/test/resources/conrefend/src/conreftarget.dita
  src/test/resources/conrefend/src/range.ditamap
Labels: P2, bug, preprocess/conref

#3034 Avoid NPE with invalid use of keyref attribute
  src/main/java/org/dita/dost/writer/KeyrefPaser.java
  src/test/resources/KeyrefPaserTest/exp/id.xml
  src/test/resources/KeyrefPaserTest/src/id.xml
Labels: P3, bug, preprocess/keyref

#3027 Fix #./element style XREF that is pulled with conref
  src/main/xsl/preprocess/conrefImpl.xsl
  src/test/resources/conrefbreaksxref/exp/preprocess/conrefbreaksxref.dita
  src/test/resources/conrefbreaksxref/exp/preprocess/conrefbreaksxreftarget.dita
  src/test/resources/conrefbreaksxref/src/conrefbreaksxref.dita
  src/test/resources/conrefbreaksxref/src/conrefbreaksxreftarget.dita
Labels: P2, bug, preprocess/conref

#3040 Remove references to obsolete JAR files #2832
  src/main/plugins/org.dita.pdf2/build_template.xml
Labels: P3, bug, pdf

#3037 Add --plugins argument to dita command line #1960
  src/main/java/org/dita/dost/invoker/Main.java
Labels: CLI, feature

#3043 Fix NPE from index process when topic has empty title
  src/main/java/org/dita/dost/reader/IndexTermReader.java
  src/test/java/org/dita/dost/reader/IndexTermReaderTest.java
  src/test/resources/IndexTermReaderTest/concept.dita
Labels: P3, bug, index

#3045 Ensure root file is never marked resource-only
  src/main/java/org/dita/dost/module/GenMapAndTopicListModule.java
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/resources/conref_topiconly/exp/xhtml/conref_to_self.html
  src/test/resources/conref_topiconly/src/conref_to_self.dita
Labels: P1, bug, preprocess

#3046 Java code refactoring and maintenance
  src/main/java/org/dita/dost/ant/DITAOTCopy.java
  src/main/java/org/dita/dost/ant/DITAOTEchoTask.java
  src/main/java/org/dita/dost/ant/DITAOTFailTask.java
  src/main/java/org/dita/dost/ant/ExtensibleAntInvoker.java
  src/main/java/org/dita/dost/ant/types/JobSourceSet.java
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/log/MessageBean.java
  src/main/java/org/dita/dost/module/ChunkModule.java
  src/main/java/org/dita/dost/module/MoveMetaModule.java
  src/main/java/org/dita/dost/module/TopicMergeModule.java
  src/main/java/org/dita/dost/platform/Integrator.java
  src/main/java/org/dita/dost/reader/ChunkMapReader.java
  src/main/java/org/dita/dost/reader/MapMetaReader.java
  src/main/java/org/dita/dost/reader/SubjectSchemeReader.java
  src/main/java/org/dita/dost/util/FilePathToURI.java
  src/main/java/org/dita/dost/util/FileUtils.java
  src/main/java/org/dita/dost/util/FilterUtils.java
  src/main/java/org/dita/dost/util/KeyDef.java
  src/main/java/org/dita/dost/util/MergeUtils.java
  src/main/java/org/dita/dost/util/StringUtils.java
  src/main/java/org/dita/dost/util/URLUtils.java
  src/main/java/org/dita/dost/writer/ChunkTopicParser.java
  src/main/java/org/dita/dost/writer/DitaIndexWriter.java
  src/main/java/org/dita/dost/writer/KeyrefPaser.java
  src/main/java/org/dita/dost/writer/NormalizeCodeblock.java
  src/main/java/org/dita/dost/writer/SeparateChunkTopicParser.java
  src/main/java/org/dita/dost/writer/ValidationFilter.java
Labels: P3, enhancement

#3050 Fix pdf2 import
  src/main/plugins/org.dita.pdf2/cfg/fo/attrs/commons-attr.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/topic2fo.xsl
Labels: enhancement, pdf

#3028 Support for plugin registry
  build.gradle
  src/main/config/configuration.properties
  src/main/integrator.xml
  src/main/java/org/dita/dost/ant/PluginInstallTask.java
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/platform/PluginParser.java
  src/main/java/org/dita/dost/platform/Plugins.java
  src/main/java/org/dita/dost/platform/Registry.java
  src/main/java/org/dita/dost/platform/SemVer.java
  src/main/java/org/dita/dost/platform/SemVerMatch.java
  src/main/plugins/org.dita.base/plugin.xml
  src/main/plugins/org.dita.eclipsehelp/plugin.xml
  src/main/plugins/org.dita.html5/plugin.xml
  src/main/plugins/org.dita.htmlhelp/plugin.xml
  src/main/plugins/org.dita.pdf2.axf/plugin.xml
  src/main/plugins/org.dita.pdf2.fop/plugin.xml
  src/main/plugins/org.dita.pdf2.xep/plugin.xml
  src/main/plugins/org.dita.pdf2/plugin.xml
  src/main/plugins/org.dita.specialization.dita11/plugin.xml
  src/main/plugins/org.dita.xhtml/plugin.xml
  src/main/plugins/org.oasis-open.dita.v1_2/plugin.xml
  src/main/plugins/org.oasis-open.dita.v1_3/plugin.xml
  src/main/resources/plugin.rnc
  src/test/java/org/dita/dost/ant/PluginInstallTaskTest.java
  src/test/java/org/dita/dost/platform/SemVerMatchTest.java
  src/test/java/org/dita/dost/platform/SemVerTest.java
  src/test/resources/configuration.properties
Labels: CLI, P2, feature, platform

#3057 Use intended block on section/example content #1248
  src/main/plugins/org.dita.pdf2/cfg/fo/attrs/reference-elements-attr.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/reference-elements.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
Labels: P3, enhancement, pdf

#3058 Add Homebrew installation details to ReadMe
  README.markdown
Labels: doc, enhancement
