Repository dita-ot/dita-ot, pull requests merged in 2018-09, with the labels that each got.

#3062 Fix docs references & definite articles
  src/main/config/messages_template.xml
  src/main/plugins/org.dita.base/plugin.xml
  src/test/resources/messages.xml
  src/test/resources/messages_en_US.properties
Labels: doc

#3065 Ensure footnote body is properly aligned in PDF #3060
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
Labels: bug, pdf

#3064 Fix for conref in title of submap in subdir
  src/main/xsl/preprocess/maprefImpl.xsl
Labels: P2, bug, preprocess

#3071 Use correct error message for missing image
  src/main/java/org/dita/dost/module/GenMapAndTopicListModule.java
  src/main/java/org/dita/dost/module/reader/MapReaderModule.java
  src/main/java/org/dita/dost/module/reader/TopicReaderModule.java
Labels: P2, bug

#3066 Fix PDF error when indexterm is in draft section + draft is off
  src/main/java/org/dita/dost/util/Constants.java
  src/main/plugins/org.dita.pdf2/build_template.xml
  src/main/plugins/org.dita.pdf2/src/com/idiominc/ws/opentopic/fo/index2/IndexPreprocessor.java
  src/main/plugins/org.dita.pdf2/src/com/idiominc/ws/opentopic/fo/index2/IndexPreprocessorTask.java
Labels: P2, bug, pdf

#3073 Fix invalid IDs in FO index links
  src/main/plugins/org.dita.pdf2/src/com/idiominc/ws/opentopic/fo/index2/IndexPreprocessor.java
  src/main/plugins/org.dita.pdf2/xsl/fo/index.xsl
Labels: P2, bug, pdf

#3079 Optimize topicpull processing by skipping resource-only
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/main/plugins/org.dita.base/build_preprocess_template.xml
  src/test/resources/conref/exp/preprocess/lang-common0.dita
  src/test/resources/conrefbreaksxref/exp/preprocess/conrefbreaksxreftarget.dita
  src/test/resources/conrefbreaksxref/exp/preprocess/subdir/conrefbreaksxrefsubdir.dita
  src/test/resources/onlytopic.in.map.links/exp/preprocess/conreftarget-available.dita
  src/test/resources/onlytopic.in.map.links/exp/preprocess/links-in-resourceonly.ditamap
  src/test/resources/onlytopic.in.map.links/exp/preprocess/linktarget-available.dita
  src/test/resources/onlytopic.in.map.links/exp/preprocess/maintopic.dita
  src/test/resources/onlytopic.in.map.links/exp/preprocess/resourceonly.dita
  src/test/resources/onlytopic.in.map.links/src/conreftarget-available.dita
  src/test/resources/onlytopic.in.map.links/src/links-in-resourceonly.ditamap
  src/test/resources/onlytopic.in.map.links/src/linktarget-available.dita
  src/test/resources/onlytopic.in.map.links/src/maintopic.dita
  src/test/resources/onlytopic.in.map.links/src/resourceonly.dita
Labels: enhancement, preprocess, preprocess2

#3080 Restore missing change bars in PDF
  src/main/java/org/dita/dost/reader/DitaValReader.java
  src/main/java/org/dita/dost/util/FilterUtils.java
  src/test/java/org/dita/dost/util/FilterUtilsTest.java
Labels: P2, bug, preprocess/filtering

#3077 Fix Java failure when chunking is combined with uplevels
  src/main/java/org/dita/dost/writer/AbstractChunkTopicParser.java
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/resources/chunk_uplevel/exp/preprocess/common/reuse.dita
  src/test/resources/chunk_uplevel/exp/preprocess/main/chunkmefirst.dita
  src/test/resources/chunk_uplevel/exp/preprocess/main/chunkmetoo.dita
  src/test/resources/chunk_uplevel/exp/preprocess/main/chunkup.ditamap
  src/test/resources/chunk_uplevel/exp/preprocess/main/mixup/chunkmefirstSUBDIR.dita
  src/test/resources/chunk_uplevel/exp/preprocess/main/mixup/chunkmetooSUBDIR.dita
  src/test/resources/chunk_uplevel/src/common/reuse.dita
  src/test/resources/chunk_uplevel/src/main/chunkup.ditamap
  src/test/resources/chunk_uplevel/src/main/composite.dita
  src/test/resources/chunk_uplevel/src/main/mixup/composite.dita
Labels: P2, bug, preprocess/chunking
