Repository dita-ot/dita-ot, pull requests merged in 2018-02, with the labels that each got.

#2891 Move HTMLHelp source and resources to HTML plugin JAR
  src/main/plugins/org.dita.htmlhelp/src/main/java/org/dita/dost/ant/CheckLang.java
  src/main/plugins/org.dita.htmlhelp/src/main/java/org/dita/dost/ant/ConvertLang.java
  src/main/plugins/org.dita.htmlhelp/src/main/resources/org/dita/dost/util/codepages.xml
  src/main/plugins/org.dita.htmlhelp/src/main/resources/org/dita/dost/util/entities.properties
  src/main/plugins/org.dita.htmlhelp/src/main/resources/org/dita/dost/util/languages.properties
Labels: P2, enhancement, htmlhelp

#2882 Use ditafileset for all XSLT processing
  src/main/java/org/dita/dost/ant/ExtensibleAntInvoker.java
  src/main/java/org/dita/dost/ant/types/JobSourceSet.java
  src/main/java/org/dita/dost/module/GenMapAndTopicListModule.java
  src/main/java/org/dita/dost/module/reader/AbstractReaderModule.java
  src/main/java/org/dita/dost/util/Job.java
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/main/plugins/org.dita.base/build_preprocess_template.xml
  src/main/plugins/org.dita.eclipsehelp/build_dita2eclipsehelp_template.xml
  src/main/plugins/org.dita.html5/build_dita2html5_template.xml
  src/main/plugins/org.dita.htmlhelp/build_dita2htmlhelp_template.xml
  src/main/plugins/org.dita.pdf2/build_template.xml
  src/main/plugins/org.dita.xhtml/build_dita2xhtml_template.xml
  src/main/plugins/org.dita.xhtml/build_general_template.xml
Labels: P2, ant, enhancement

#2890 Use if and unless from Ant namespace
  src/main/config/messages_template.xml
  src/main/java/org/dita/dost/ant/DITAOTEchoTask.java
  src/main/java/org/dita/dost/ant/DITAOTFailTask.java
  src/main/java/org/dita/dost/ant/ExtensibleAntInvoker.java
  src/main/java/org/dita/dost/log/MessageBean.java
  src/main/plugins/org.dita.eclipsehelp/build_dita2eclipsehelp_template.xml
  src/main/plugins/org.dita.html5/build_dita2html5_template.xml
  src/main/plugins/org.dita.htmlhelp/build_dita2htmlhelp_template.xml
  src/main/plugins/org.dita.pdf2/build_template.xml
  src/main/plugins/org.dita.xhtml/build_dita2xhtml_template.xml
  src/main/plugins/org.dita.xhtml/build_general_template.xml
  src/test/resources/messages_en_US.properties
Labels: P2, ant, enhancement

#2892 Make import explicit to work around Saxon caching on Windows
  src/main/plugins/org.dita.html5/xsl/topic.xsl
Labels: bug, html5, platform-dependent, windows

#2897 Fix processing for <navtitle> in maps
  src/main/java/org/dita/dost/reader/MapMetaReader.java
  src/main/java/org/dita/dost/writer/AbstractDitaMetaWriter.java
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/resources/MapMetaReaderTest/exp/test.ditamap
  src/test/resources/locktitle/exp/preprocess/TestingLocktitle.ditamap
  src/test/resources/locktitle/exp/preprocess/navtitletest1.dita
  src/test/resources/locktitle/exp/preprocess/navtitletest2.dita
  src/test/resources/locktitle/exp/preprocess/navtitletest2a.dita
  src/test/resources/locktitle/exp/preprocess/navtitletest3.dita
  src/test/resources/locktitle/exp/preprocess/navtitletest4.dita
  src/test/resources/locktitle/exp/preprocess/navtitletest4a.dita
  src/test/resources/locktitle/exp/preprocess/navtitletest5.dita
  src/test/resources/locktitle/exp/preprocess/navtitletest6.dita
  src/test/resources/locktitle/exp/preprocess/titletest1.dita
  src/test/resources/locktitle/exp/preprocess/titletest2.dita
  src/test/resources/locktitle/exp/preprocess/titletest2a.dita
  src/test/resources/locktitle/exp/preprocess/titletest3.dita
  src/test/resources/locktitle/exp/preprocess/titletest4.dita
  src/test/resources/locktitle/exp/preprocess/titletest4a.dita
  src/test/resources/locktitle/exp/preprocess/titletest5.dita
  src/test/resources/locktitle/exp/preprocess/titletest6.dita
  src/test/resources/locktitle/src/TestingLocktitle.ditamap
  src/test/resources/locktitle/src/navtitletest1.dita
  src/test/resources/locktitle/src/navtitletest2.dita
  src/test/resources/locktitle/src/navtitletest2a.dita
  src/test/resources/locktitle/src/navtitletest3.dita
  src/test/resources/locktitle/src/navtitletest4.dita
  src/test/resources/locktitle/src/navtitletest4a.dita
  src/test/resources/locktitle/src/navtitletest5.dita
  src/test/resources/locktitle/src/navtitletest6.dita
  src/test/resources/locktitle/src/titletest1.dita
  src/test/resources/locktitle/src/titletest2.dita
  src/test/resources/locktitle/src/titletest2a.dita
  src/test/resources/locktitle/src/titletest3.dita
  src/test/resources/locktitle/src/titletest4.dita
  src/test/resources/locktitle/src/titletest4a.dita
  src/test/resources/locktitle/src/titletest5.dita
  src/test/resources/locktitle/src/titletest6.dita
Labels: P1, preprocess, preprocess2

#2900 Fix XSLT error with non-specific glossary key
  src/main/plugins/org.dita.html5/xsl/topic.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/dita2htmlImpl.xsl
Labels: P2, html5, xhtml
