Repository dita-ot/dita-ot, pull requests merged in 2018-03, with the labels that each got.

#2906 Respect navtitle element inside topics for PDF TOC and bookmarks
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
Labels: pdf

#2896 Use more meaningful message for invalid DITAVAL
  src/main/config/messages_template.xml
  src/main/java/org/dita/dost/reader/DitaValReader.java
Labels: P2, bug, preprocess

#2912 Fix specified Dublin Core format for HTML5
  src/main/plugins/org.dita.html5/xsl/get-meta.xsl
Labels: P3, html5

#2913 Use implicit @tempdir attribute in pipeline task
  src/main/plugins/org.dita.eclipsehelp/build_dita2eclipsehelp_template.xml
  src/main/plugins/org.dita.html5/build_dita2html5_template.xml
  src/main/plugins/org.dita.htmlhelp/build_dita2htmlhelp_template.xml
  src/main/plugins/org.dita.pdf2/build_template.xml
  src/main/plugins/org.dita.xhtml/build_general_template.xml
Labels: P3, ant, enhancement

#2916 Resolve all coderef elements from source files #2901
  src/main/java/org/dita/dost/writer/CoderefResolver.java
Labels: P2, bug, enhancement, preprocess/coderef

#2921 Use configured image extensions as fallback to image format #2917
  src/main/java/org/dita/dost/ant/ExtensibleAntInvoker.java
  src/main/java/org/dita/dost/ant/types/JobSourceSet.java
  src/main/java/org/dita/dost/util/FileUtils.java
Labels: P1, bug, preprocess

#2923 Place PDF in output directory regardless of uplevels
  src/main/plugins/org.dita.pdf2.axf/build_axf.xml
  src/main/plugins/org.dita.pdf2.fop/build_fop.xml
  src/main/plugins/org.dita.pdf2.xep/build_xep.xml
Labels: P2, bug, pdf

#2922 Allow DITA-OT to process DITAVAL documents that include a doctype
  src/main/java/org/dita/dost/module/MergeDitavalModule.java
  src/main/plugins/org.dita.base/build_preprocess_template.xml
  src/test/resources/filterlist/src/subdir/filter2.ditaval
Labels: P2, preprocess/filtering
