Repository dita-ot/dita-ot, pull requests merged in 2018-05, with the labels that each got.

#2946 Fix PDF rowheader when rows spanned #2942
  src/main/plugins/org.dita.pdf2/xsl/fo/tables.xsl
Labels: bug, pdf

#2945 Remove obsolete code to fix fragref error
  src/main/xsl/preprocess/topicpull-pr-d.xsl
Labels: preprocess, preprocess2

#2950 Removes the redundant map2html5Impl.xsl import
  src/main/plugins/org.dita.html5/xsl/nav.xsl
Labels: enhancement, html5

#2949 Fix catalog configuration file to remove redundant error logging
  src/main/config/CatalogManager.properties
Labels: P3, bug

#2956 Update LwDITA plugin to 2.0.3
  build.gradle
Labels: P2, dependency, enhancement

#2953 Remove leading spaces in coderefs #2907
  src/main/java/org/dita/dost/util/SaxCache.java
  src/main/java/org/dita/dost/writer/NormalizeCodeblock.java
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/main/plugins/org.dita.base/build_preprocess_template.xml
  src/test/java/org/dita/dost/writer/NormalizeCodeblockTest.java
  src/test/resources/NormalizeCodeblockTest/exp/nestedElement.xml
  src/test/resources/NormalizeCodeblockTest/exp/nestedElementWithIndent.xml
  src/test/resources/NormalizeCodeblockTest/exp/nestedElementWithIndentAndNewline.xml
  src/test/resources/NormalizeCodeblockTest/exp/onlyText.xml
  src/test/resources/NormalizeCodeblockTest/exp/onlyTextWithIndent.xml
  src/test/resources/NormalizeCodeblockTest/src/nestedElement.xml
  src/test/resources/NormalizeCodeblockTest/src/nestedElementWithIndent.xml
  src/test/resources/NormalizeCodeblockTest/src/nestedElementWithIndentAndNewline.xml
  src/test/resources/NormalizeCodeblockTest/src/onlyText.xml
  src/test/resources/NormalizeCodeblockTest/src/onlyTextWithIndent.xml
Labels: P2, feature, preprocess, preprocess2

#2964 Support alt text for images in PDF
  src/main/plugins/org.dita.pdf2.axf/xsl/fo/topic2fo_shell_axf_template.xsl
  src/main/plugins/org.dita.pdf2.axf/xsl/fo/topic_axf.xsl
  src/main/plugins/org.dita.pdf2.fop/xsl/fo/topic2fo_shell_fop_template.xsl
  src/main/plugins/org.dita.pdf2.fop/xsl/fo/topic_fop.xsl
  src/main/plugins/org.dita.pdf2.xep/xsl/fo/topic2fo_shell_xep_template.xsl
  src/main/plugins/org.dita.pdf2.xep/xsl/fo/topic_xep.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
Labels: accessibility, enhancement, pdf

#2969 Move Code of Conduct to .github/ subfolder
  .github/CODE_OF_CONDUCT.md
Labels: doc

#2970 Inline toc mode from map to HTML5 stylesheet into cover stylesheet
  src/main/java/org/dita/dost/module/XsltModule.java
  src/main/plugins/org.dita.html5/xsl/map2html5-coverImpl_template.xsl
  src/main/plugins/org.dita.html5/xsl/nav.xsl
Labels: P2, enhancement, html5

#2976 Update to FOP 2.3
  src/main/plugins/org.dita.pdf2.fop/build.gradle
  src/main/plugins/org.dita.pdf2.fop/plugin.xml
Labels: P2, dependency, enhancement, pdf/fop

#2975 Show whitespace characters in codeblock in PDF
  src/main/plugins/org.dita.pdf2/cfg/fo/attrs/pr-domain-attr.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/pr-domain.xsl
Labels: P2, enhancement, pdf

#2960 Add support for SVG domain elements
  src/main/java/org/dita/dost/reader/GenListModuleReader.java
  src/main/java/org/dita/dost/util/Constants.java
  src/main/java/org/dita/dost/writer/ImageMetadataFilter.java
  src/main/java/org/dita/dost/writer/KeyrefPaser.java
  src/main/plugins/org.dita.html5/xsl/dita2html5Impl_template.xsl
  src/main/plugins/org.dita.html5/xsl/svg-d.xsl
  src/main/plugins/org.dita.pdf2/cfg/fo/attrs/svg-domain-attr.xsl
  src/main/plugins/org.dita.pdf2/xsl/common/topicmergeImpl.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/flagging-from-preprocess.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/flagging-preprocess_template.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/svg-domain.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/topic2fo.xsl
  src/main/plugins/org.dita.xhtml/xsl/dita2html-base_template.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/svg-d.xsl
  src/main/xsl/preprocess/conrefImpl.xsl
  src/main/xsl/preprocess/topicpullImpl.xsl
Labels: DITA 1.3, P2, feature

#2978 Support frame attribute on choice table
  src/main/plugins/org.dita.pdf2/xsl/fo/tables.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/task-elements.xsl
Labels: bug, enhancement, pdf

#2932 Add end to end tests for transtype regression test
  .travis.yml
  build.gradle
  src/test/java/org/dita/dost/AbstractIntegrationTest.java
  src/test/java/org/dita/dost/EndToEndTest.java
  src/test/resources/e2e/fop.xconf
  src/test/resources/e2e/src/root.ditamap
  src/test/resources/e2e/src/t1.dita
  src/test/resources/e2e/src/t2.dita
Labels: feature, testing
