Repository dita-ot/dita-ot, pull requests merged in 2019-08, with the labels that each got.

#3330 Update Saxon to 9.9.1.3
  build.gradle
Labels: dependency, enhancement, priority/medium

#3351 Fix empty docinfo when authorInfo has no name
  src/main/plugins/org.dita.pdf2/xsl/fo/root-processing.xsl
Labels: bug, plugin/pdf, priority/low

#3350 Fix uplevels when topic has uplevels and map does not #3333
  src/main/java/org/dita/dost/module/GenMapAndTopicListModule.java
  src/main/plugins/org.dita.base/xsl/preprocess/topicpullImpl.xsl
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/resources/uplevelslink/exp/preprocess/main/justthis.dita
  src/test/resources/uplevelslink/exp/preprocess/main/uplevel-in-topic.ditamap
  src/test/resources/uplevelslink/exp/preprocess/peer/upandover.dita
  src/test/resources/uplevelslink/src/main/justthis.dita
  src/test/resources/uplevelslink/src/main/uplevel-in-topic.ditamap
  src/test/resources/uplevelslink/src/peer/upandover.dita
Labels: bug, preprocess

#3339 Add location to transformer exception messages
  src/main/java/org/dita/dost/module/BranchFilterModule.java
  src/main/java/org/dita/dost/module/DebugAndFilterModule.java
  src/main/java/org/dita/dost/module/MaprefModule.java
  src/main/java/org/dita/dost/module/MoveLinksModule.java
  src/main/java/org/dita/dost/module/MoveMetaModule.java
  src/main/java/org/dita/dost/module/TopicMergeModule.java
  src/main/java/org/dita/dost/module/XsltModule.java
  src/main/java/org/dita/dost/module/filter/MapBranchFilterModule.java
  src/main/java/org/dita/dost/module/filter/TopicBranchFilterModule.java
  src/main/java/org/dita/dost/platform/FileGenerator.java
  src/main/java/org/dita/dost/reader/ChunkMapReader.java
  src/main/java/org/dita/dost/util/DelayConrefUtils.java
  src/main/java/org/dita/dost/util/XMLUtils.java
  src/main/java/org/dita/dost/writer/AbstractDomFilter.java
  src/main/java/org/dita/dost/writer/DitaLinksWriter.java
  src/main/plugins/org.dita.pdf2/src/org/dita/dost/pdf2/VariableFileTask.java
Labels: enhancement, priority/low

#3347 Drop phrase IDs from title marker
  src/main/plugins/org.dita.pdf2/xsl/fo/commons.xsl
Labels: bug, plugin/pdf, priority/medium
