Repository dita-ot/dita-ot, pull requests merged in 2019-10, with the labels that each got.

#3375 Update Gradle wrapper to 5.6.2
  gradle/wrapper/gradle-wrapper.properties
Labels: build, dependency

#3365 Drop TOC bookmark when TOC suppressed
  src/main/plugins/org.dita.pdf2/xsl/fo/bookmarks.xsl
Labels: bug, plugin/pdf, priority/low

#3367 Avoid Ant error about time stamps
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/main/plugins/org.dita.base/build_preprocess_template.xml
Labels: bug, preprocess, preprocess2, priority/low

#3377 Move annotations before element definitions
  src/main/resources/project.rnc
Labels: enhancement, priority/medium

#3358 Add Docker configuration
  .travis.yml
  Dockerfile
Labels: feature, priority/medium

#3364 Remove troff plugin from default distribution
  build.gradle
Labels: dependency, enhancement, priority/low

#3373 Fix index link when term has subterms #3320; fix index-see-also #3314
  src/main/plugins/org.dita.pdf2.fop/xsl/fo/index_fop.xsl
  src/main/plugins/org.dita.pdf2.xep/xsl/fo/index_xep.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/index.xsl
Labels: bug, index, plugin/pdf, priority/medium

#3371 Update org.lwdita to 2.3.1
  build.gradle
Labels: dependency, enhancement, priority/medium

#3379 Use fo:wrapper for index point #3042
  src/main/plugins/org.dita.pdf2/xsl/fo/index.xsl
Labels: bug, index, plugin/pdf, priority/high

#3382 Add support to interleave foreign content to XML project files
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/project/ProjectBuilder.java
  src/main/java/org/dita/dost/project/ProjectFactory.java
  src/main/java/org/dita/dost/project/XmlReader.java
  src/main/resources/project-lax.rnc
  src/test/java/org/dita/dost/project/ProjectBuilderTest.java
  src/test/java/org/dita/dost/project/ProjectFactoryTest.java
  src/test/java/org/dita/dost/project/XmlReaderTest.java
  src/test/resources/org/dita/dost/project/foreign.xml
Labels: enhancement, priority/medium, project

#3381 Use block for index to work around FOP issue #2455
  src/main/plugins/org.dita.pdf2.fop/xsl/fo/index_fop.xsl
Labels: bug, plugin/pdf/fop, priority/high

#3391 Filter see index links that have no destination
  src/main/plugins/org.dita.pdf2/xsl/fo/index.xsl
Labels: bug, plugin/pdf, priority/high

#3390 Add extension point for PDF2 index processing
  src/main/plugins/org.dita.pdf2/build_template.xml
  src/main/plugins/org.dita.pdf2/plugin.xml
Labels: enhancement, plugin/pdf, priority/medium

#3386 Adjust flag path during conref
  src/main/plugins/org.dita.base/xsl/preprocess/conrefImpl.xsl
Labels: bug, preprocess/conref, preprocess/filtering, priority/high

#3394 Remove lax project schema and instead filter foreign content on lax mode
  src/main/java/org/dita/dost/project/IgnoringXmlFilter.java
  src/main/java/org/dita/dost/project/ProjectFactory.java
  src/main/java/org/dita/dost/project/XmlReader.java
  src/main/resources/project-lax.rnc
  src/test/java/org/dita/dost/project/ProjectFactoryTest.java
  src/test/java/org/dita/dost/project/XmlReaderTest.java
  src/test/resources/org/dita/dost/project/foreign.xml
Labels: feature, priority/medium, project

#3396 Bundle org.dita.index and disable PDF2 indexing
  build.gradle
  gradle/dist.gradle
  src/main/plugins/org.dita.pdf2/build_template.xml
  src/main/plugins/org.dita.pdf2/plugin.xml
Labels: dependency, feature, plugin/pdf, priority/medium
