Repository dita-ot/dita-ot, pull requests merged in 2019-01, with the labels that each got.

#3175 Add support for custom integrator
  src/main/java/org/dita/dost/platform/CustomIntegrator.java
  src/main/java/org/dita/dost/platform/Integrator.java
Labels: feature, plugin-integration, priority/medium

#3176 Deprecate templates integration configuration
  src/main/config/messages_template.xml
  src/main/java/org/dita/dost/platform/Integrator.java
  src/test/resources/messages_en_US.properties
Labels: enhancement, plugin-integration, priority/low

#3178 Add missing DITA classes to Java constants
  src/main/java/org/dita/dost/util/Constants.java
Labels: enhancement, priority/low

#3177 Generate HTML5 section element for task steps
  src/main/plugins/org.dita.html5/xsl/task.xsl
Labels: enhancement, plugin/html5, priority/medium

#3182 Add support for SAX filter in pipeline modules
  src/main/java/org/dita/dost/ant/ExtensibleAntInvoker.java
  src/main/java/org/dita/dost/module/AbstractPipelineModule.java
  src/main/java/org/dita/dost/module/AbstractPipelineModuleImpl.java
  src/main/java/org/dita/dost/module/CleanPreprocessModule.java
  src/main/java/org/dita/dost/module/DebugAndFilterModule.java
  src/main/java/org/dita/dost/module/GenMapAndTopicListModule.java
  src/main/java/org/dita/dost/module/SourceReaderModule.java
  src/main/java/org/dita/dost/module/XmlFilterModule.java
  src/test/java/org/dita/dost/module/DebugAndFilterModuleTest.java
  src/test/java/org/dita/dost/module/DummyPipelineModule.java
Labels: enhancement, preprocess, priority/medium

#3188 Use base Jing as a dependency
  build.gradle
Labels: dependency, enhancement, priority/medium

#3187 Add extension points to contribute params to reader modules
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/main/plugins/org.dita.base/build_preprocess_template.xml
  src/main/plugins/org.dita.base/plugin.xml
Labels: enhancement, preprocess, priority/medium

#3191 Upgrade dependencies
  build.gradle
Labels: dependency, enhancement, priority/medium

#3193 Add keyscope test for mapref
  src/test/java/org/dita/dost/module/KeyrefModuleTest.java
  src/test/java/org/dita/dost/writer/KeyrefPaserTest.java
  src/test/resources/KeyrefModuleTest/exp/test.ditamap
  src/test/resources/KeyrefModuleTest/src/submap.ditamap
  src/test/resources/KeyrefModuleTest/src/test.ditamap
  src/test/resources/KeyrefPaserTest/exp/b.ditamap
  src/test/resources/KeyrefPaserTest/exp/d.ditamap
  src/test/resources/KeyrefPaserTest/src/d.ditamap
  src/test/resources/KeyrefPaserTest/src/keys.ditamap
Labels: enhancement, preprocess/keyref, priority/low

#3194 Feature/2523 keyscopes in flattened map not handled
  src/main/java/org/dita/dost/module/KeyrefModule.java
  src/main/java/org/dita/dost/util/Constants.java
  src/main/java/org/dita/dost/util/KeyScope.java
  src/main/java/org/dita/dost/writer/KeyrefPaser.java
  src/test/java/org/dita/dost/module/KeyrefModuleTest.java
  src/test/resources/KeyrefPaserTest/exp/d.ditamap
Labels: bug, preprocess/keyref, priority/medium

#3185 Drop duplicate ID from dt #3180
  src/main/plugins/org.dita.pdf2/xsl/fo/tables.xsl
Labels: bug, plugin/pdf, priority/medium

#3197 Add support for truthy values in dita command property values
  src/main/java/org/dita/dost/invoker/Main.java
Labels: CLI, enhancement, priority/low

#3196 Add support for exclusions in ditafileset
  src/main/java/org/dita/dost/ant/types/JobSourceSet.java
  src/main/plugins/org.dita.base/build_preprocess_template.xml
  src/test/java/org/dita/dost/ant/types/JobSourceSetTest.java
Labels: bug, enhancement, preprocess, priority/medium

#3198 Merge adjacent text events before codeblock normalization
  src/main/java/org/dita/dost/writer/NormalizeCodeblock.java
  src/test/java/org/dita/dost/writer/NormalizeCodeblockTest.java
  src/test/resources/NormalizeCodeblockTest/exp/onlyTextWithAdjacentText.xml
  src/test/resources/NormalizeCodeblockTest/src/onlyTextWithAdjacentText.xml
Labels: bug, preprocess, priority/high

#3195 Add configuration option for default coderef charset
  src/main/java/org/dita/dost/writer/CoderefResolver.java
Labels: enhancement, preprocess/coderef, priority/low
