Repository dita-ot/dita-ot, pull requests merged in 2019-06, with the labels that each got.

#3317 Preserve flags for generated links
  src/main/plugins/org.dita.base/xsl/preprocess/maplinkImpl.xsl
  src/main/plugins/org.dita.pdf2/build_template.xml
Labels: bug, preprocess/filtering, priority/high

#3323 Remove deprecated template file
  src/main/plugins/org.dita.pdf2/plugin.xml
  src/main/plugins/org.dita.pdf2/xsl/fo/flagging-preprocess_template.xsl
Labels: enhancement, plugin/pdf, priority/medium

#3322 Add default support for note type=trouble
  src/main/plugins/org.dita.base/xsl/common/strings-ar-eg.xml
  src/main/plugins/org.dita.base/xsl/common/strings-be-by.xml
  src/main/plugins/org.dita.base/xsl/common/strings-bg-bg.xml
  src/main/plugins/org.dita.base/xsl/common/strings-bs-ba.xml
  src/main/plugins/org.dita.base/xsl/common/strings-ca-es.xml
  src/main/plugins/org.dita.base/xsl/common/strings-cs-cz.xml
  src/main/plugins/org.dita.base/xsl/common/strings-da-dk.xml
  src/main/plugins/org.dita.base/xsl/common/strings-de-ch.xml
  src/main/plugins/org.dita.base/xsl/common/strings-de-de.xml
  src/main/plugins/org.dita.base/xsl/common/strings-el-gr.xml
  src/main/plugins/org.dita.base/xsl/common/strings-en-ca.xml
  src/main/plugins/org.dita.base/xsl/common/strings-en-gb.xml
  src/main/plugins/org.dita.base/xsl/common/strings-es-es.xml
  src/main/plugins/org.dita.base/xsl/common/strings-et-ee.xml
  src/main/plugins/org.dita.base/xsl/common/strings-fi-fi.xml
  src/main/plugins/org.dita.base/xsl/common/strings-fr-be.xml
  src/main/plugins/org.dita.base/xsl/common/strings-fr-ca.xml
  src/main/plugins/org.dita.base/xsl/common/strings-fr-ch.xml
  src/main/plugins/org.dita.base/xsl/common/strings-fr-fr.xml
  src/main/plugins/org.dita.base/xsl/common/strings-he-il.xml
  src/main/plugins/org.dita.base/xsl/common/strings-hi-in.xml
  src/main/plugins/org.dita.base/xsl/common/strings-hr-hr.xml
  src/main/plugins/org.dita.base/xsl/common/strings-hu-hu.xml
  src/main/plugins/org.dita.base/xsl/common/strings-id-id.xml
  src/main/plugins/org.dita.base/xsl/common/strings-is-is.xml
  src/main/plugins/org.dita.base/xsl/common/strings-it-ch.xml
  src/main/plugins/org.dita.base/xsl/common/strings-it-it.xml
  src/main/plugins/org.dita.base/xsl/common/strings-ja-jp.xml
  src/main/plugins/org.dita.base/xsl/common/strings-kk-kz.xml
  src/main/plugins/org.dita.base/xsl/common/strings-ko-kr.xml
  src/main/plugins/org.dita.base/xsl/common/strings-lt-lt.xml
  src/main/plugins/org.dita.base/xsl/common/strings-lv-lv.xml
  src/main/plugins/org.dita.base/xsl/common/strings-mk-mk.xml
  src/main/plugins/org.dita.base/xsl/common/strings-ms-my.xml
  src/main/plugins/org.dita.base/xsl/common/strings-nl-be.xml
  src/main/plugins/org.dita.base/xsl/common/strings-nl-nl.xml
  src/main/plugins/org.dita.base/xsl/common/strings-no-no.xml
  src/main/plugins/org.dita.base/xsl/common/strings-pl-pl.xml
  src/main/plugins/org.dita.base/xsl/common/strings-pt-br.xml
  src/main/plugins/org.dita.base/xsl/common/strings-pt-pt.xml
  src/main/plugins/org.dita.base/xsl/common/strings-ro-ro.xml
  src/main/plugins/org.dita.base/xsl/common/strings-ru-ru.xml
  src/main/plugins/org.dita.base/xsl/common/strings-sk-sk.xml
  src/main/plugins/org.dita.base/xsl/common/strings-sl-si.xml
  src/main/plugins/org.dita.base/xsl/common/strings-sr-latn-me.xml
  src/main/plugins/org.dita.base/xsl/common/strings-sr-latn-rs.xml
  src/main/plugins/org.dita.base/xsl/common/strings-sr-sp.xml
  src/main/plugins/org.dita.base/xsl/common/strings-sv-se.xml
  src/main/plugins/org.dita.base/xsl/common/strings-th-th.xml
  src/main/plugins/org.dita.base/xsl/common/strings-tr-tr.xml
  src/main/plugins/org.dita.base/xsl/common/strings-uk-ua.xml
  src/main/plugins/org.dita.base/xsl/common/strings-ur-pk.xml
  src/main/plugins/org.dita.base/xsl/common/strings-vi-vn.xml
  src/main/plugins/org.dita.base/xsl/common/strings-zh-cn.xml
  src/main/plugins/org.dita.base/xsl/common/strings-zh-tw.xml
Labels: bug, i18n, priority/low

#3315 Convert conref push parser to DOM filter
  src/main/java/org/dita/dost/module/ConrefPushModule.java
  src/main/java/org/dita/dost/module/MoveMetaModule.java
  src/main/java/org/dita/dost/reader/AbstractReader.java
  src/main/java/org/dita/dost/reader/ChunkMapReader.java
  src/main/java/org/dita/dost/reader/MapMetaReader.java
  src/main/java/org/dita/dost/util/XMLUtils.java
  src/main/java/org/dita/dost/writer/AbstractDomFilter.java
  src/main/java/org/dita/dost/writer/ConrefPushParser.java
  src/test/java/org/dita/dost/reader/ChunkMapReaderTest.java
  src/test/java/org/dita/dost/reader/TestConrefPushReader.java
  src/test/java/org/dita/dost/writer/TestConrefPushParser.java
  src/test/resources/TestConrefPushParser/exp/conrefpush_stub2.xml
  src/test/resources/TestConrefPushParser/src/conrefpush_stub.xml
  src/test/resources/TestConrefPushParser/src/conrefpush_stub2.xml
  src/test/resources/TestConrefPushParser/src/conrefpush_stub2_backup.xml
Labels: enhancement, preprocess/conref, priority/medium

#3324 Pass base context URI when processing links
  src/main/plugins/org.dita.base/xsl/preprocess/topicpullImpl.xsl
Labels: bug, preprocess, priority/medium

#3321 Preserve xml:lang when processing links
  src/main/plugins/org.dita.base/xsl/common/related-links.xsl
  src/main/plugins/org.dita.html5/xsl/concept.xsl
  src/main/plugins/org.dita.html5/xsl/reference.xsl
  src/main/plugins/org.dita.html5/xsl/rel-links.xsl
  src/main/plugins/org.dita.html5/xsl/task.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/links.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/conceptdisplay.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/refdisplay.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/rel-links.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/taskdisplay.xsl
  src/test/resources/lang/exp/xhtml/lang-areg.html
  src/test/resources/lang/exp/xhtml/lang-beby.html
  src/test/resources/lang/exp/xhtml/lang-bgbg.html
  src/test/resources/lang/exp/xhtml/lang-caes.html
  src/test/resources/lang/exp/xhtml/lang-cscz.html
  src/test/resources/lang/exp/xhtml/lang-dadk.html
  src/test/resources/lang/exp/xhtml/lang-dech.html
  src/test/resources/lang/exp/xhtml/lang-dede.html
  src/test/resources/lang/exp/xhtml/lang-elgr.html
  src/test/resources/lang/exp/xhtml/lang-enca.html
  src/test/resources/lang/exp/xhtml/lang-engb.html
  src/test/resources/lang/exp/xhtml/lang-enus.html
  src/test/resources/lang/exp/xhtml/lang-eses.html
  src/test/resources/lang/exp/xhtml/lang-etee.html
  src/test/resources/lang/exp/xhtml/lang-fifi.html
  src/test/resources/lang/exp/xhtml/lang-frbe.html
  src/test/resources/lang/exp/xhtml/lang-frca.html
  src/test/resources/lang/exp/xhtml/lang-frch.html
  src/test/resources/lang/exp/xhtml/lang-frfr.html
  src/test/resources/lang/exp/xhtml/lang-heil.html
  src/test/resources/lang/exp/xhtml/lang-hiin.html
  src/test/resources/lang/exp/xhtml/lang-hrhr.html
  src/test/resources/lang/exp/xhtml/lang-huhu.html
  src/test/resources/lang/exp/xhtml/lang-isis.html
  src/test/resources/lang/exp/xhtml/lang-itch.html
  src/test/resources/lang/exp/xhtml/lang-itit.html
  src/test/resources/lang/exp/xhtml/lang-jajp.html
  src/test/resources/lang/exp/xhtml/lang-kokr.html
  src/test/resources/lang/exp/xhtml/lang-ltlt.html
  src/test/resources/lang/exp/xhtml/lang-lvlv.html
  src/test/resources/lang/exp/xhtml/lang-mkmk.html
  src/test/resources/lang/exp/xhtml/lang-nlbe.html
  src/test/resources/lang/exp/xhtml/lang-nlnl.html
  src/test/resources/lang/exp/xhtml/lang-nono.html
  src/test/resources/lang/exp/xhtml/lang-plpl.html
  src/test/resources/lang/exp/xhtml/lang-ptbr.html
  src/test/resources/lang/exp/xhtml/lang-ptpt.html
  src/test/resources/lang/exp/xhtml/lang-roro.html
  src/test/resources/lang/exp/xhtml/lang-ruru.html
  src/test/resources/lang/exp/xhtml/lang-sksk.html
  src/test/resources/lang/exp/xhtml/lang-slsi.html
  src/test/resources/lang/exp/xhtml/lang-srsp.html
  src/test/resources/lang/exp/xhtml/lang-svse.html
  src/test/resources/lang/exp/xhtml/lang-thth.html
  src/test/resources/lang/exp/xhtml/lang-trtr.html
  src/test/resources/lang/exp/xhtml/lang-ukua.html
  src/test/resources/lang/exp/xhtml/lang-urpk.html
  src/test/resources/lang/exp/xhtml/lang-zhcn.html
  src/test/resources/lang/exp/xhtml/lang-zhtw.html
Labels: bug, i18n, priority/medium
