Repository dita-ot/dita-ot, pull requests merged in 2019-11, with the labels that each got.

#3397 Move hard-coded indexshow styles to Sass partial
  src/main/plugins/org.dita.html5/sass/_indexterms.scss
  src/main/plugins/org.dita.html5/sass/_variables.scss
  src/main/plugins/org.dita.html5/sass/commonltr.scss
  src/main/plugins/org.dita.html5/xsl/topic.xsl
Labels: index, plugin/html5

#3402 Update Gradle wrapper to 5.6.3
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: build, dependency

#3399 Remove reference to deprecated args.logdir parameter
  src/main/plugins/org.dita.base/build_init.xml
  src/main/plugins/org.dita.base/plugin.xml
Labels: enhancement, priority/low

#3264 Use last-token-of-class att rather than local name to check target el…
  src/main/plugins/org.dita.base/xsl/preprocess/conrefImpl.xsl
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/resources/conref_to_specialization/exp/preprocess/conref_to_specialization.dita
  src/test/resources/conref_to_specialization/src/conref_to_specialization.dita
Labels: bug, preprocess/conref, priority/medium

#3344 Keyscoped links
  src/main/java/org/dita/dost/module/KeyrefModule.java
  src/main/java/org/dita/dost/util/KeyDef.java
  src/test/java/org/dita/dost/module/KeyrefModuleTest.java
  src/test/resources/KeyrefModuleTest/src/test2.ditamap
Labels: bug, preprocess/keyref, priority/medium

#3407 Upgrade to FOP 2.4
  build.gradle
  src/main/plugins/org.dita.pdf2.fop/build.gradle
  src/main/plugins/org.dita.pdf2.fop/plugin.xml
Labels: dependency, enhancement, plugin/pdf/fop, priority/medium

#3408 Update LwDITA plugin to 2.3.2
  build.gradle
  gradle/dist.gradle
Labels: dependency, enhancement, priority/medium

#3410 Add project validation schema to distribution build
  build.gradle
Labels: bug

#3419 Restore library references required for SVG in PDF
  src/main/plugins/org.dita.pdf2.fop/build.gradle
  src/main/plugins/org.dita.pdf2.fop/plugin.xml
Labels: bug, plugin/pdf/fop, priority/high

#3421 Update to newer Jackson libraries
  build.gradle
Labels: dependency, enhancement, priority/medium
