Repository dita-ot/dita-ot, pull requests merged in 2019-12, with the labels that each got.

#3411 Remove filtered and renamed topics from publish-set after branch filtering #2980
  src/main/java/org/dita/dost/module/BranchFilterModule.java
  src/test/java/org/dita/dost/module/BranchFilterModuleTest.java
  src/test/resources/BranchFilterModuleTest/src/exclude.dita
  src/test/resources/BranchFilterModuleTest/src/input.ditamap
Labels: bug, preprocess/branch-filtering, priority/medium

#3426 Fix OASIS XSD for Classify Map #3202
  src/main/plugins/org.oasis-open.dita.v1_3/schema-url/subjectScheme/xsd/classifyMap.xsd
  src/main/plugins/org.oasis-open.dita.v1_3/schema/subjectScheme/xsd/classifyMap.xsd
Labels: bug, dita standard, priority/low

#3427 Move and refactor classes in preprocess
  src/main/config/configuration.properties
  src/main/java/org/dita/dost/module/AbstractPipelineModule.java
  src/main/java/org/dita/dost/module/BranchFilterModule.java
  src/main/java/org/dita/dost/module/CopyToModule.java
  src/main/java/org/dita/dost/module/DebugAndFilterModule.java
  src/main/java/org/dita/dost/module/GenMapAndTopicListModule.java
  src/main/java/org/dita/dost/module/KeyrefModule.java
  src/main/java/org/dita/dost/module/filter/AbstractBranchFilterModule.java
  src/main/java/org/dita/dost/module/reader/AbstractReaderModule.java
  src/main/java/org/dita/dost/module/reader/DefaultTempFileScheme.java
  src/main/java/org/dita/dost/module/reader/FlattenTempFileScheme.java
  src/main/java/org/dita/dost/module/reader/FullPathTempFileScheme.java
  src/main/java/org/dita/dost/module/reader/HashTempFileScheme.java
  src/main/java/org/dita/dost/module/reader/TempFileNameScheme.java
  src/main/java/org/dita/dost/pipeline/PipelineHashIO.java
  src/main/java/org/dita/dost/reader/ChunkMapReader.java
  src/main/java/org/dita/dost/reader/DitaValReader.java
  src/main/java/org/dita/dost/util/DelayConrefUtils.java
  src/main/java/org/dita/dost/util/Job.java
  src/main/java/org/dita/dost/writer/AbstractChunkTopicParser.java
  src/main/java/org/dita/dost/writer/DitaWriterFilter.java
  src/main/java/org/dita/dost/writer/ForceUniqueFilter.java
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/test/java/org/dita/dost/writer/ForceUniqueFilterTest.java
  src/test/resources/ChunkModuleTest/exp/with_non_dita/.job.xml
  src/test/resources/ChunkModuleTest/src/with_non_dita/.job.xml
  src/test/resources/configuration.properties
Labels: enhancement, priority/low

#3412 Support for addtional input resources
  src/main/java/org/dita/dost/exception/DITAOTException.java
  src/main/java/org/dita/dost/invoker/ArgumentParser.java
  src/main/java/org/dita/dost/invoker/Arguments.java
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/module/BranchFilterModule.java
  src/main/java/org/dita/dost/module/DebugAndFilterModule.java
  src/main/java/org/dita/dost/module/GenMapAndTopicListModule.java
  src/main/java/org/dita/dost/module/KeyrefModule.java
  src/main/java/org/dita/dost/module/MaprefModule.java
  src/main/java/org/dita/dost/module/MoveLinksModule.java
  src/main/java/org/dita/dost/module/MoveMetaModule.java
  src/main/java/org/dita/dost/module/TopicMergeModule.java
  src/main/java/org/dita/dost/module/XsltModule.java
  src/main/java/org/dita/dost/module/reader/AbstractReaderModule.java
  src/main/java/org/dita/dost/module/reader/MapReaderModule.java
  src/main/java/org/dita/dost/module/reader/TopicReaderModule.java
  src/main/java/org/dita/dost/platform/FileGenerator.java
  src/main/java/org/dita/dost/reader/ChunkMapReader.java
  src/main/java/org/dita/dost/reader/GenListModuleReader.java
  src/main/java/org/dita/dost/util/Constants.java
  src/main/java/org/dita/dost/util/DelayConrefUtils.java
  src/main/java/org/dita/dost/util/Job.java
  src/main/java/org/dita/dost/util/KeyScope.java
  src/main/java/org/dita/dost/util/XMLUtils.java
  src/main/java/org/dita/dost/writer/AbstractDomFilter.java
  src/main/java/org/dita/dost/writer/ConkeyrefFilter.java
  src/main/java/org/dita/dost/writer/DitaLinksWriter.java
  src/main/java/org/dita/dost/writer/ResourceInsertFilter.java
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/main/plugins/org.dita.base/build_preprocess_template.xml
  src/main/plugins/org.dita.base/plugin.xml
  src/main/plugins/org.dita.html5/build_dita2html5_template.xml
  src/main/plugins/org.dita.pdf2/src/org/dita/dost/pdf2/VariableFileTask.java
  src/main/plugins/org.dita.xhtml/build_dita2xhtml_template.xml
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/java/org/dita/dost/TestUtils.java
  src/test/java/org/dita/dost/exception/DITAOTExceptionTest.java
  src/test/java/org/dita/dost/reader/TestGenListModuleReader.java
  src/test/java/org/dita/dost/writer/ConkeyrefFilterTest.java
  src/test/resources/resource_map/exp/preprocess/keys.ditamap
  src/test/resources/resource_map/exp/preprocess/map.ditamap
  src/test/resources/resource_map/exp/preprocess/resourceOnly.dita
  src/test/resources/resource_map/exp/preprocess/topic.dita
  src/test/resources/resource_map/exp/preprocess2/keys.ditamap
  src/test/resources/resource_map/exp/preprocess2/map.ditamap
  src/test/resources/resource_map/exp/preprocess2/resourceOnly.dita
  src/test/resources/resource_map/exp/preprocess2/topic.dita
  src/test/resources/resource_map/src/keys.ditamap
  src/test/resources/resource_map/src/map.ditamap
  src/test/resources/resource_map/src/resourceOnly.dita
  src/test/resources/resource_map/src/topic.dita
  src/test/resources/resource_topic/exp/preprocess/keys.ditamap
  src/test/resources/resource_topic/exp/preprocess/resourceOnly.dita
  src/test/resources/resource_topic/exp/preprocess/topic.dita
  src/test/resources/resource_topic/exp/preprocess2/keys.ditamap
  src/test/resources/resource_topic/exp/preprocess2/resourceOnly.dita
  src/test/resources/resource_topic/exp/preprocess2/topic.dita
  src/test/resources/resource_topic/src/keys.ditamap
  src/test/resources/resource_topic/src/resourceOnly.dita
  src/test/resources/resource_topic/src/topic.dita
Labels: CLI, feature, preprocess, priority/medium

#3413 Feature to dynamically adjust result file URI
  src/main/java/org/dita/dost/module/AbstractPipelineModuleImpl.java
  src/main/java/org/dita/dost/module/CleanPreprocessModule.java
  src/main/java/org/dita/dost/module/RewriteRule.java
  src/main/java/org/dita/dost/util/Job.java
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/main/plugins/org.dita.base/build_preprocess_template.xml
  src/main/plugins/org.dita.base/plugin.xml
  src/test/java/org/dita/dost/module/CleanPreprocessModuleTest.java
Labels: feature, preprocess2, priority/medium

#3430 added attribute-sets for linklists
  src/main/plugins/org.dita.html5/xsl/concept.xsl
  src/main/plugins/org.dita.html5/xsl/reference.xsl
  src/main/plugins/org.dita.html5/xsl/rel-links.xsl
  src/main/plugins/org.dita.html5/xsl/task.xsl
Labels: enhancement, plugin/html5, priority/medium
