Repository dita-ot/dita-ot, pull requests merged in 2019-03, with the labels that each got.

#3250 Process only merged root map in preprocess and preprocess2
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/main/plugins/org.dita.base/build_preprocess_template.xml
  src/test/resources/conrefinsubmap/exp/preprocess/subdir/submap.ditamap
  src/test/resources/map31_filter_multi/exp/preprocess/map7.ditamap
  src/test/resources/map32_filter_multi/exp/preprocess/map13.ditamap
  src/test/resources/map33_filter2/exp/preprocess/map13.ditamap
  src/test/resources/map33_filter2/exp/preprocess/map7.ditamap
  src/test/resources/map33_filter3/exp/preprocess/map13.ditamap
  src/test/resources/map33_filter3/exp/preprocess/map7.ditamap
Labels: enhancement, preprocess, preprocess2, priority/medium

#3243 Add support for project configuration
  build.gradle
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/project/Project.java
  src/main/resources/project.rnc
  src/test/java/org/dita/dost/project/ProjectTest.java
  src/test/resources/org/dita/dost/project/simple.json
  src/test/resources/org/dita/dost/project/simple.xml
Labels: CLI, feature, priority/medium

#3256 Add support for context of input and profile sets
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/project/Project.java
  src/main/resources/project.rnc
  src/test/java/org/dita/dost/project/ProjectTest.java
  src/test/resources/org/dita/dost/project/simple.json
  src/test/resources/org/dita/dost/project/simple.xml
Labels: enhancement, priority/medium, project

#3258 Default to org-level community health files
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request.md
  .github/SUPPORT.md
  README.markdown
Labels: bug

#3260 Fix conkeyref with temp file scheme that flattens the directory structure
  src/main/java/org/dita/dost/module/DebugAndFilterModule.java
  src/main/java/org/dita/dost/writer/ConkeyrefFilter.java
  src/test/java/org/dita/dost/writer/ConkeyrefFilterTest.java
Labels: bug, preprocess, preprocess2, priority/medium

#3262 Add support for including project files in project files
  src/main/java/org/dita/dost/project/Project.java
  src/test/java/org/dita/dost/project/ProjectFactory.java
  src/test/java/org/dita/dost/project/ProjectTest.java
  src/test/resources/org/dita/dost/project/common.json
  src/test/resources/org/dita/dost/project/recursive.json
  src/test/resources/org/dita/dost/project/root.json
Labels: feature, priority/medium, project

#3268 Add reusable context
  build.gradle
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/project/Project.java
  src/main/java/org/dita/dost/project/ProjectFactory.java
  src/main/java/org/dita/dost/project/XmlReader.java
  src/main/java/org/dita/dost/util/XMLUtils.java
  src/main/resources/project.rnc
  src/test/java/org/dita/dost/project/ProjectFactoryTest.java
  src/test/java/org/dita/dost/project/ProjectTest.java
  src/test/java/org/dita/dost/project/XmlReaderTest.java
  src/test/resources/org/dita/dost/project/common.json
  src/test/resources/org/dita/dost/project/common.xml
  src/test/resources/org/dita/dost/project/product.json
  src/test/resources/org/dita/dost/project/product.xml
  src/test/resources/org/dita/dost/project/simple.xml
Labels: feature, priority/medium, project

#3273 Switch to use XML input factory method #3272
  src/main/java/org/dita/dost/module/reader/TopicReaderModule.java
  src/main/java/org/dita/dost/platform/Integrator.java
Labels: bug
