Repository dita-ot/dita-ot, pull requests merged in 2019-02, with the labels that each got.

#3200 Update org.lwdita@2.2.0
  build.gradle
Labels: dependency, enhancement, priority/medium

#3204 Update to Gradle 5.2
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: dependency, enhancement, priority/low

#3210 Add [1] and as= for key() lookups as appropriate
  src/main/plugins/org.dita.pdf2/xsl/fo/abbrev-domain.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/bookmarks.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/commons.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/index.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/links.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/toc.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
Labels: bug, plugin/pdf, priority/medium

#3215 Fix for issue 3214 - fix for revprop support for tm element
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
Labels: bug, plugin/pdf, priority/medium

#3161 Support rotate attribute on table entries #2717
  src/main/plugins/org.dita.pdf2.fop/xsl/fo/tables_fop.xsl
  src/main/plugins/org.dita.pdf2.xep/xsl/fo/tables_xep.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/tables.xsl
Labels: dita standard, enhancement, plugin/pdf, priority/medium

#3220 Add plugin.rnc to distribution package
  build.gradle
Labels: bug, priority/low

#3211 Fix preprocess clean with resource that have different URI scheme
  src/main/java/org/dita/dost/module/CleanPreprocessModule.java
  src/test/java/org/dita/dost/module/CleanPreprocessModuleTest.java
Labels: bug, preprocess, priority/high

#3217 Provide meaningful warning for conref=""
  src/main/config/messages_template.xml
  src/main/java/org/dita/dost/reader/GenListModuleReader.java
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/resources/conref/exp/preprocess/lang-common0.dita
  src/test/resources/conref/exp/preprocess/lang-common1.dita
  src/test/resources/conref/src/lang-common0.dita
  src/test/resources/messages.xml
  src/test/resources/messages_en_US.properties
Labels: enhancement, preprocess, preprocess2, priority/medium

#3219 Drop duplicates when listing transform types
  src/main/java/org/dita/dost/platform/ListTranstypeAction.java
Labels: bug, plugin-integration, priority/low

#3207 Support hazard domain in html5, xhtml
  src/main/plugins/org.dita.html5/resources/ISO_7010_W001_html.svg
  src/main/plugins/org.dita.html5/sass/domains/_hazard.scss
  src/main/plugins/org.dita.html5/xsl/dita2html5Impl_template.xsl
  src/main/plugins/org.dita.html5/xsl/hazard-d.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/hazard-d.xsl
  src/main/plugins/org.dita.xhtml/resource/ISO_7010_W001_xhtml.svg
  src/main/plugins/org.dita.xhtml/resource/commonltr.css
  src/main/plugins/org.dita.xhtml/resource/commonrtl.css
  src/main/plugins/org.dita.xhtml/xsl/dita2html-base_template.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/hazard-d.xsl
Labels: plugin/html5, priority/medium

#3223 Turn warning into info for duplicate ditaval condition
  src/main/config/messages_template.xml
  src/main/java/org/dita/dost/reader/DitaValReader.java
Labels: bug, priority/medium

#3224 Fix errors for href="-dita-use-conref-target"
  src/main/java/org/dita/dost/reader/GenListModuleReader.java
  src/main/java/org/dita/dost/util/Constants.java
  src/test/resources/conref_with_xref/exp/xhtml/common/conref-with-xref.html
  src/test/resources/conref_with_xref/src/common/conref-with-xref.xml
Labels: bug, preprocess, preprocess2

#3221 Support PDF images in PDF2 FOP
  src/main/plugins/org.dita.pdf2.fop/build.gradle
  src/main/plugins/org.dita.pdf2.fop/plugin.xml
Labels: dependency, enhancement, plugin/pdf/fop, priority/medium

#3229 Fix for spaces in file/dir name #3213
  src/main/plugins/org.dita.html5/xsl/functions.xsl
  src/main/plugins/org.dita.html5/xsl/nav.xsl
  src/test/xsl/plugins/org.dita.html5/xsl/functions.xspec
Labels: bug, plugin/html5, priority/medium

#3230 Add legacy catalog file to root directory
  build.gradle
  src/main/catalog-dita.xml
Labels: enhancement, priority/low

#3179 Copy topicmeta when keyref used on topicref
  src/main/java/org/dita/dost/writer/KeyrefPaser.java
  src/test/resources/KeyrefPaserTest/exp/b.ditamap
  src/test/resources/KeyrefPaserTest/exp/d.ditamap
  src/test/resources/keyref/exp/preprocess/test.ditamap
Labels: bug, preprocess/keyref, priority/medium

#3227 Re-lint HTML5 Sass code
  src/main/plugins/org.dita.html5/sass/.scss-lint.yml
  src/main/plugins/org.dita.html5/sass/_variables.scss
  src/main/plugins/org.dita.html5/sass/domains/_abbreviated-form.scss
  src/main/plugins/org.dita.html5/sass/domains/_bookmap.scss
  src/main/plugins/org.dita.html5/sass/domains/_classification.scss
  src/main/plugins/org.dita.html5/sass/domains/_concept.scss
  src/main/plugins/org.dita.html5/sass/domains/_equation-d.scss
  src/main/plugins/org.dita.html5/sass/domains/_glossentry.scss
  src/main/plugins/org.dita.html5/sass/domains/_glossgroup.scss
  src/main/plugins/org.dita.html5/sass/domains/_glossref.scss
  src/main/plugins/org.dita.html5/sass/domains/_hazard.scss
  src/main/plugins/org.dita.html5/sass/domains/_hi-d.scss
  src/main/plugins/org.dita.html5/sass/domains/_indexing-d.scss
  src/main/plugins/org.dita.html5/sass/domains/_learning-d.scss
  src/main/plugins/org.dita.html5/sass/domains/_learning.scss
  src/main/plugins/org.dita.html5/sass/domains/_learningAssessment.scss
  src/main/plugins/org.dita.html5/sass/domains/_learningBase.scss
  src/main/plugins/org.dita.html5/sass/domains/_learningContent.scss
  src/main/plugins/org.dita.html5/sass/domains/_learningOverview.scss
  src/main/plugins/org.dita.html5/sass/domains/_learningPlan.scss
  src/main/plugins/org.dita.html5/sass/domains/_learningSummary.scss
  src/main/plugins/org.dita.html5/sass/domains/_learningmapdomain.scss
  src/main/plugins/org.dita.html5/sass/domains/_learningmaps.scss
  src/main/plugins/org.dita.html5/sass/domains/_map.scss
  src/main/plugins/org.dita.html5/sass/domains/_mapgroup-d.scss
  src/main/plugins/org.dita.html5/sass/domains/_markup-d.scss
  src/main/plugins/org.dita.html5/sass/domains/_pr-d.scss
  src/main/plugins/org.dita.html5/sass/domains/_reference.scss
  src/main/plugins/org.dita.html5/sass/domains/_subject.scss
  src/main/plugins/org.dita.html5/sass/domains/_sw-d.scss
  src/main/plugins/org.dita.html5/sass/domains/_task.scss
  src/main/plugins/org.dita.html5/sass/domains/_taskreq.scss
  src/main/plugins/org.dita.html5/sass/domains/_topic.scss
  src/main/plugins/org.dita.html5/sass/domains/_troubleshooting.scss
  src/main/plugins/org.dita.html5/sass/domains/_ui-d.scss
  src/main/plugins/org.dita.html5/sass/domains/_ut-d.scss
  src/main/plugins/org.dita.html5/sass/domains/_xml-d.scss
  src/main/plugins/org.dita.html5/sass/domains/_xnal-d.scss
Labels: enhancement, plugin/html5, priority/low

#3235 Change bar on table/fig should also appear in booklist
  src/main/plugins/org.dita.pdf2/xsl/fo/lot-lof.xsl
Labels: bug, plugin/pdf, priority/low

#3234 Handle relative paths in peer or non-DITA key references
  src/main/java/org/dita/dost/writer/KeyrefPaser.java
  src/test/java/org/dita/dost/writer/KeyrefPaserTest.java
  src/test/resources/KeyrefPaserTest/exp/subdir/subdirtopic.xml
  src/test/resources/KeyrefPaserTest/src/keys.ditamap
  src/test/resources/KeyrefPaserTest/src/subdir/subdirtopic.xml
Labels: bug, preprocess/keyref, priority/medium

#3239 Support different DITA-OT installation volume and temp volume
  src/main/java/org/dita/dost/ant/PluginInstallTask.java
Labels: bug, plugin-integration, priority/medium

#3231 Sync hazard statement presentation
  src/main/plugins/org.dita.html5/sass/_variables.scss
  src/main/plugins/org.dita.html5/sass/domains/_hazard.scss
  src/main/plugins/org.dita.xhtml/resource/commonltr.css
  src/main/plugins/org.dita.xhtml/resource/commonrtl.css
Labels: enhancement
