Repository dita-ot/dita-ot, pull requests merged in 2019-05, with the labels that each got.

#3298 Add support for file param value
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/project/Project.java
  src/main/java/org/dita/dost/project/ProjectBuilder.java
  src/main/java/org/dita/dost/project/XmlReader.java
  src/main/resources/project.rnc
  src/test/java/org/dita/dost/project/ProjectTest.java
  src/test/resources/org/dita/dost/project/common.json
  src/test/resources/org/dita/dost/project/common.xml
  src/test/resources/org/dita/dost/project/common.yaml
Labels: feature, priority/medium, project

#3297 Refactor property declarations with isset guards to plain declarations
  src/main/plugins/org.dita.base/build_init.xml
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/main/plugins/org.dita.base/build_preprocess_template.xml
  src/main/plugins/org.dita.base/build_template.xml
  src/main/plugins/org.dita.eclipsehelp/build_dita2eclipsehelp_template.xml
  src/main/plugins/org.dita.html5/build_dita2html5_template.xml
  src/main/plugins/org.dita.htmlhelp/build_dita2htmlhelp_template.xml
  src/main/plugins/org.dita.pdf2.axf/build_axf.xml
  src/main/plugins/org.dita.pdf2.fop/build_fop.xml
  src/main/plugins/org.dita.pdf2.xep/build_xep.xml
  src/main/plugins/org.dita.pdf2/build_template.xml
  src/main/plugins/org.dita.xhtml/build_dita2xhtml_template.xml
  src/main/plugins/org.dita.xhtml/build_general_template.xml
Labels: enhancement, priority/low

#3287 Use OASIS namespace for generating catalog-dita.xml
  src/main/java/org/dita/dost/platform/ImportCatalogActionRelative.java
  src/main/java/org/dita/dost/platform/ImportPluginCatalogAction.java
  src/main/java/org/dita/dost/util/Constants.java
Labels: bug, plugin-integration, priority/medium

#3300 Change file key to path for improved readability
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/project/Project.java
  src/main/java/org/dita/dost/project/ProjectBuilder.java
  src/main/java/org/dita/dost/project/XmlReader.java
  src/main/resources/project.rnc
  src/test/java/org/dita/dost/project/XmlReaderTest.java
  src/test/resources/org/dita/dost/project/common.xml
  src/test/resources/org/dita/dost/project/simple.json
  src/test/resources/org/dita/dost/project/simple.xml
  src/test/resources/org/dita/dost/project/simple.yaml
Labels: enhancement, project

#3306 Fix processing errors for data objects
  src/main/java/org/dita/dost/reader/GenListModuleReader.java
  src/main/java/org/dita/dost/util/Constants.java
  src/test/resources/keyref/exp/preprocess/a.xml
  src/test/resources/keyref/exp/preprocess/test.ditamap
  src/test/resources/keyref/src/a.xml
  src/test/resources/keyref/src/test.ditamap
Labels: bug, preprocess, priority/high

#3308 Decrease logging for Apache HTTP client packages
  src/main/config/logback.xml
Labels: enhancement, priority/low

#3301 Add property to skip HTML5 TOC file generation
  src/main/plugins/org.dita.html5/build_dita2html5_template.xml
  src/main/plugins/org.dita.html5/plugin.xml
Labels: feature, plugin/html5, priority/medium

#3304 Replace pixelated warning icon with SVG image
  src/main/plugins/org.dita.pdf2/cfg/common/vars/commonvariables.xml
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
Labels: enhancement, plugin/pdf, priority/medium

#3310 Fix generated string 'continued'
  src/main/plugins/org.dita.pdf2/cfg/common/vars/bs.xml
  src/main/plugins/org.dita.pdf2/cfg/common/vars/da.xml
  src/main/plugins/org.dita.pdf2/cfg/common/vars/sr-latn-me.xml
  src/main/plugins/org.dita.pdf2/cfg/common/vars/vi.xml
Labels: bug, plugin/pdf, priority/low
