Repository dita-ot/dita-ot, pull requests merged in 2020-10, with the labels that each got.

#3602 Remove obsolete flag stylesheet and serialization of schemekeydef.xml
  src/main/java/org/dita/dost/module/GenMapAndTopicListModule.java
  src/main/java/org/dita/dost/util/Job.java
  src/main/plugins/org.dita.base/xsl/common/flag.xsl
  src/test/java/org/dita/dost/AbstractIntegrationTest.java
Labels: enhancement, priority/low

#3600 #3599 [fix] note type notice missing from xhtml
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/dita2htmlImpl.xsl
Labels: enhancement, plugin/xhtml, priority/medium

#3603 Remove obsolete key processing from XHTML
  src/main/java/org/dita/dost/module/KeyrefModule.java
  src/main/java/org/dita/dost/util/Job.java
  src/main/java/org/dita/dost/util/KeyDef.java
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/dita2htmlImpl.xsl
Labels: enhancement, plugin/xhtml, preprocess, priority/low

#3439 Add in-memory Store implementation
  src/main/java/org/dita/dost/ant/DITAOTCopy.java
  src/main/java/org/dita/dost/module/DebugAndFilterModule.java
  src/main/java/org/dita/dost/module/FilterModule.java
  src/main/java/org/dita/dost/module/GenMapAndTopicListModule.java
  src/main/java/org/dita/dost/module/MergeDitavalModule.java
  src/main/java/org/dita/dost/module/TopicMergeModule.java
  src/main/java/org/dita/dost/module/filter/AbstractBranchFilterModule.java
  src/main/java/org/dita/dost/module/reader/AbstractReaderModule.java
  src/main/java/org/dita/dost/reader/DitaValReader.java
  src/main/java/org/dita/dost/reader/SubjectSchemeReader.java
  src/main/java/org/dita/dost/store/AbstractStore.java
  src/main/java/org/dita/dost/store/CacheStore.java
  src/main/java/org/dita/dost/store/CacheStoreBuilder.java
  src/main/java/org/dita/dost/store/Store.java
  src/main/java/org/dita/dost/store/StreamStore.java
  src/main/java/org/dita/dost/store/ant/types/StoreResource.java
  src/main/java/org/dita/dost/util/DelayConrefUtils.java
  src/main/java/org/dita/dost/util/Job.java
  src/main/java/org/dita/dost/util/KeyDef.java
  src/main/java/org/dita/dost/writer/DitaIndexWriter.java
  src/main/plugins/org.dita.base/build_init.xml
  src/main/plugins/org.dita.base/build_preprocess_template.xml
  src/main/plugins/org.dita.html5/build_dita2html5_template.xml
  src/main/resources/META-INF/services/org.dita.dost.store.StoreBuilder
  src/test/java/org/dita/dost/AbstractIntegrationTest.java
  src/test/java/org/dita/dost/index/IndexTermCollectionTest.java
  src/test/java/org/dita/dost/module/KeyrefModuleTest.java
  src/test/java/org/dita/dost/reader/TestDitaValReader.java
  src/test/java/org/dita/dost/writer/KeyrefPaserTest.java
Labels: feature, preprocess, preprocess2, priority/medium

#3607 Fix typo in parameter description attribute
  src/main/plugins/org.dita.base/plugin.xml
Labels: bug

#3609 Fix setting html5.map.url property
  src/main/plugins/org.dita.html5/build_dita2html5_template.xml
Labels: bug, plugin/html5, priority/medium

#3616 Add repeat option to CLI to run process N times
  src/main/java/org/dita/dost/invoker/ConversionArguments.java
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/resources/cli_en_US.properties
Labels: CLI, feature, priority/low

#3617 Share latest from oasis-tcs/dita and oasis-tcs/dita-techcomm
  build.gradle
Labels: DITA 2.0, enhancement, priority/medium

#3606 Add support for running module processing in parallel
  src/main/java/org/dita/dost/ant/ExtensibleAntInvoker.java
  src/main/java/org/dita/dost/exception/UncheckedDITAOTException.java
  src/main/java/org/dita/dost/module/AbstractPipelineModule.java
  src/main/java/org/dita/dost/module/AbstractPipelineModuleImpl.java
  src/main/java/org/dita/dost/module/CleanPreprocessModule.java
  src/main/java/org/dita/dost/module/ImageMetadataModule.java
  src/main/java/org/dita/dost/module/KeyrefModule.java
  src/main/java/org/dita/dost/module/SourceReaderModule.java
  src/main/java/org/dita/dost/module/XmlFilterModule.java
  src/main/java/org/dita/dost/module/XsltModule.java
  src/main/java/org/dita/dost/util/Pool.java
  src/main/java/org/dita/dost/writer/ImageMetadataFilter.java
  src/main/plugins/org.dita.base/build_init.xml
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/main/plugins/org.dita.base/build_preprocess_template.xml
  src/main/plugins/org.dita.base/plugin.xml
  src/main/plugins/org.dita.html5/build_dita2html5_template.xml
  src/test/java/org/dita/dost/module/DummyPipelineModule.java
  src/test/java/org/dita/dost/writer/ImageMetadataFilterTest.java
Labels: feature, preprocess, priority/medium

#3623 Fix development build folder name
  build.gradle
Labels: bug

#3624 Fix workdir-uri generation bug
  src/main/java/org/dita/dost/module/CopyToModule.java
  src/main/java/org/dita/dost/util/URLUtils.java
  src/test/java/org/dita/dost/util/URLUtilsTest.java
Labels: bug, preprocess, priority/medium
