Repository dita-ot/dita-ot, pull requests merged in 2020-03, with the labels that each got.

#3471 Move from JAXP to S9API
  build.gradle
  src/main/java/org/dita/dost/module/BranchFilterModule.java
  src/main/java/org/dita/dost/module/CleanPreprocessModule.java
  src/main/java/org/dita/dost/module/DebugAndFilterModule.java
  src/main/java/org/dita/dost/module/GenMapAndTopicListModule.java
  src/main/java/org/dita/dost/module/KeyrefModule.java
  src/main/java/org/dita/dost/module/MaprefModule.java
  src/main/java/org/dita/dost/module/MoveLinksModule.java
  src/main/java/org/dita/dost/module/SourceReaderModule.java
  src/main/java/org/dita/dost/module/TopicMergeModule.java
  src/main/java/org/dita/dost/module/XsltModule.java
  src/main/java/org/dita/dost/module/filter/MapBranchFilterModule.java
  src/main/java/org/dita/dost/module/filter/TopicBranchFilterModule.java
  src/main/java/org/dita/dost/platform/FileGenerator.java
  src/main/java/org/dita/dost/platform/Integrator.java
  src/main/java/org/dita/dost/reader/ChunkMapReader.java
  src/main/java/org/dita/dost/reader/MapMetaReader.java
  src/main/java/org/dita/dost/util/XMLUtils.java
  src/main/java/org/dita/dost/writer/AbstractDomFilter.java
  src/main/java/org/dita/dost/writer/DitaLinksWriter.java
  src/main/java/org/dita/dost/writer/include/IncludeResolver.java
  src/main/java/org/dita/dost/writer/include/IncludeXml.java
  src/main/plugins/org.dita.pdf2/src/org/dita/dost/pdf2/VariableFileTask.java
  src/test/java/org/dita/dost/IntegrationTestPreprocess2.java
  src/test/java/org/dita/dost/module/XsltModuleTest.java
  src/test/java/org/dita/dost/reader/MapMetaReaderTest.java
  src/test/java/org/dita/dost/util/XMLUtilsTest.java
  src/test/resources/MapMetaReaderTest/src/test.ditamap
Labels: enhancement, priority/medium

#3434 Remove unused and deprecated preprocessing configuration
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/main/plugins/org.dita.base/build_preprocess_template.xml
Labels: enhancement, preprocess, preprocess2, priority/medium

#3479 Add spanning and title to simpletable in PDF2 #3464
  src/main/plugins/org.dita.pdf2/xsl/fo/commons.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/tables.xsl
  src/test/java/org/dita/dost/util/XSpecTest.java
  src/test/xsl/plugins/org.dita.html5/xsl/simpletable.xsl
  src/test/xsl/plugins/org.dita.pdf2/xsl/fo/simpletable.xsl
  src/test/xsl/plugins/org.dita.pdf2/xsl/fo/simpletable.xspec
Labels: DITA 2.0, feature, plugin/pdf, priority/medium

#3481 Add external-link mode for target=blank
  src/main/plugins/org.dita.html5/xsl/map2html5-coverImpl_template.xsl
  src/main/plugins/org.dita.html5/xsl/map2html5Impl.xsl
  src/main/plugins/org.dita.html5/xsl/rel-links.xsl
  src/main/plugins/org.dita.html5/xsl/topic.xsl
  src/main/plugins/org.dita.html5/xsl/ut-d.xsl
Labels: enhancement, plugin/html5, priority/low

#3484 Restore call to table summary attribute stub
  src/main/plugins/org.dita.html5/xsl/simpletable.xsl
  src/main/plugins/org.dita.html5/xsl/tables.xsl
Labels: accessibility, bug, priority/medium

#3483 Recognize new class atts for link text, short description, search title
  src/main/java/org/dita/dost/reader/ChunkMapReader.java
  src/main/java/org/dita/dost/reader/MapMetaReader.java
  src/main/java/org/dita/dost/writer/AbstractDitaMetaWriter.java
  src/main/java/org/dita/dost/writer/DitaMapMetaWriter.java
  src/main/java/org/dita/dost/writer/DitaMetaWriter.java
  src/main/plugins/org.dita.base/xsl/common/functions.xsl
  src/main/plugins/org.dita.base/xsl/preprocess/maplinkImpl.xsl
  src/main/plugins/org.dita.base/xsl/preprocess/mappullImpl.xsl
  src/main/plugins/org.dita.html5/xsl/map2html5Impl.xsl
  src/main/plugins/org.dita.htmlhelp/xsl/map2htmlhelp/map2hhcImpl.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/map-elements.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/root-processing.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
  src/main/plugins/org.dita.xhtml/xsl/map2htmtoc/map2htmlImpl.xsl
  src/test/xsl/common/dita-utilities.xspec
Labels: DITA 2.0, enhancement, priority/medium

#3482 Add outputclass support to DITAVAL
  src/main/java/org/dita/dost/reader/DitaValReader.java
  src/main/java/org/dita/dost/util/FilterUtils.java
  src/main/plugins/org.dita.html5/build_dita2html5_template.xml
  src/main/plugins/org.dita.html5/xsl/hi-d.xsl
  src/main/plugins/org.dita.html5/xsl/htmlflag.xsl
  src/main/plugins/org.dita.html5/xsl/topic.xsl
  src/main/plugins/org.dita.xhtml/xsl/map2htmtoc/map2htmlcoverImpl.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/dita2htmlImpl.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/htmlflag.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/tables.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/taskdisplay.xsl
  src/test/java/org/dita/dost/util/FilterUtilsTest.java
  src/test/resources/map13_flag/exp/xhtml/topic4.html
  src/test/resources/map13_flag/src/flag.ditaval
Labels: DITA 2.0, feature, plugin/html5, preprocess, priority/medium
