Repository dita-ot/dita-ot, pull requests merged in 2020-02, with the labels that each got.

#3452 Use new way of specifying message emitter
  src/main/java/org/dita/dost/util/XMLUtils.java
  src/test/java/org/dita/dost/util/XMLUtilsTest.java
Labels: enhancement, priority/medium

#3442 Remove org.dita.eclipsehelp
  build.gradle
  settings.gradle
  src/main/plugins/org.dita.base/xsl/preprocess/conrefImpl.xsl
  src/main/plugins/org.dita.eclipsehelp/build.gradle
  src/main/plugins/org.dita.eclipsehelp/build_dita2eclipsehelp_template.xml
  src/main/plugins/org.dita.eclipsehelp/plugin.xml
  src/main/plugins/org.dita.eclipsehelp/settings.gradle
  src/main/plugins/org.dita.eclipsehelp/src/main/java/org/dita/dost/writer/EclipseIndexWriter.java
  src/main/plugins/org.dita.eclipsehelp/src/test/java/org/dita/dost/index/IndexTermCollectionTest.java
  src/main/plugins/org.dita.eclipsehelp/src/test/java/org/dita/dost/module/IndexTermExtractModuleTest.java
  src/main/plugins/org.dita.eclipsehelp/src/test/java/org/dita/dost/writer/TestEclipseIndexWriter.java
  src/main/plugins/org.dita.eclipsehelp/src/test/java/org/dita/dost/writer/TestIDitaTranstypeIndexWriter.java
  src/main/plugins/org.dita.eclipsehelp/src/test/resources/IndexTermCollectionTest/exp/index.xml
  src/main/plugins/org.dita.eclipsehelp/src/test/resources/IndexTermExtractModuleTest/exp/index.xml
  src/main/plugins/org.dita.eclipsehelp/src/test/resources/IndexTermExtractModuleTest/src/bookmap.ditamap
  src/main/plugins/org.dita.eclipsehelp/src/test/resources/IndexTermExtractModuleTest/src/index-see_testdata1.dita
  src/main/plugins/org.dita.eclipsehelp/src/test/resources/TestEclipseIndexWriter/exp/index.xml
  src/main/plugins/org.dita.eclipsehelp/xsl/dita2xhtml_eclipsehelp.xsl
  src/main/plugins/org.dita.eclipsehelp/xsl/map2eclipse/map2eclipseImpl.xsl
  src/main/plugins/org.dita.eclipsehelp/xsl/map2eclipse_template.xsl
  src/main/plugins/org.dita.eclipsehelp/xsl/map2pluginImpl.xsl
  src/main/plugins/org.dita.eclipsehelp/xsl/map2plugin_template.xsl
  src/test/java/org/dita/dost/EndToEndTest.java
Labels: enhancement, plugin/eclipsehelp, priority/medium

#3449 Add DITA 2.0 preview
  build.gradle
Labels: DITA 2.0, feature

#3455 Rebase № 3450 – Fix indexterms with PDF using XEP
  src/main/plugins/org.dita.pdf2.xep/xsl/fo/index_xep.xsl
Labels: bug, plugin/pdf, priority/medium

#3454 Rebase № 3451 – Update ICU4j License
  gradle/icu.txt
Labels: enhancement

#3437 Refactor CLI to support subcommands
  src/main/java/org/dita/dost/invoker/ArgumentParser.java
  src/main/java/org/dita/dost/invoker/Arguments.java
  src/main/java/org/dita/dost/invoker/ConversionArguments.java
  src/main/java/org/dita/dost/invoker/DefaultLogger.java
  src/main/java/org/dita/dost/invoker/DeliverablesArguments.java
  src/main/java/org/dita/dost/invoker/InstallArguments.java
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/invoker/PluginsArguments.java
  src/main/java/org/dita/dost/invoker/TranstypesArguments.java
  src/main/java/org/dita/dost/invoker/UninstallArguments.java
  src/main/java/org/dita/dost/invoker/UsageBuilder.java
  src/main/java/org/dita/dost/invoker/VersionArguments.java
  src/test/java/org/dita/dost/invoker/ArgumentParserTest.java
Labels: CLI, feature, priority/medium

#3453 Add DITA 2.0 include element
  src/main/java/org/dita/dost/util/Constants.java
  src/main/java/org/dita/dost/writer/AbstractXMLFilter.java
  src/main/java/org/dita/dost/writer/CoderefResolver.java
  src/main/java/org/dita/dost/writer/include/AllRange.java
  src/main/java/org/dita/dost/writer/include/AnchorRange.java
  src/main/java/org/dita/dost/writer/include/IncludeFilter.java
  src/main/java/org/dita/dost/writer/include/IncludeResolver.java
  src/main/java/org/dita/dost/writer/include/IncludeText.java
  src/main/java/org/dita/dost/writer/include/IncludeXml.java
  src/main/java/org/dita/dost/writer/include/LineNumberRange.java
  src/main/java/org/dita/dost/writer/include/Range.java
  src/test/java/org/dita/dost/writer/CoderefResolverTest.java
  src/test/java/org/dita/dost/writer/include/IncludeResolverTest.java
  src/test/resources/IncludeResolverTest/exp/coderef.dita
  src/test/resources/IncludeResolverTest/exp/include_dita.dita
  src/test/resources/IncludeResolverTest/exp/include_text.dita
  src/test/resources/IncludeResolverTest/exp/include_xml.dita
  src/test/resources/IncludeResolverTest/exp/include_xml_schema.dita
  src/test/resources/IncludeResolverTest/src/code.xml
  src/test/resources/IncludeResolverTest/src/coderef.dita
  src/test/resources/IncludeResolverTest/src/include_dita.dita
  src/test/resources/IncludeResolverTest/src/include_text.dita
  src/test/resources/IncludeResolverTest/src/include_xml.dita
  src/test/resources/IncludeResolverTest/src/include_xml_schema.dita
  src/test/resources/IncludeResolverTest/src/plain.txt
  src/test/resources/IncludeResolverTest/src/range.txt
  src/test/resources/IncludeResolverTest/src/schema.dtd
  src/test/resources/IncludeResolverTest/src/schema.xml
  src/test/resources/IncludeResolverTest/src/schema_invalid.xml
  src/test/resources/IncludeResolverTest/src/topic.dita
  src/test/resources/IncludeResolverTest/src/utf-8.xml
Labels: DITA 2.0, feature, preprocess/coderef, priority/medium

#3462 Add domains and specializations conversions
  src/main/config/messages_template.xml
  src/main/java/org/dita/dost/module/BranchFilterModule.java
  src/main/java/org/dita/dost/module/filter/MapBranchFilterModule.java
  src/main/java/org/dita/dost/reader/ChunkMapReader.java
  src/main/java/org/dita/dost/reader/GenListModuleReader.java
  src/main/java/org/dita/dost/util/Constants.java
  src/main/java/org/dita/dost/util/StringUtils.java
  src/main/java/org/dita/dost/writer/NormalizeFilter.java
  src/main/java/org/dita/dost/writer/ProfilingFilter.java
  src/main/java/org/dita/dost/writer/ValidationFilter.java
  src/test/java/org/dita/dost/AbstractIntegrationTest.java
  src/test/java/org/dita/dost/util/TestStringUtils.java
  src/test/java/org/dita/dost/writer/NormalizeFilterTest.java
  src/test/java/org/dita/dost/writer/ProfilingFilterTest.java
  src/test/resources/ChunkModuleTest/exp/topicgroup_chunk/Chunk18.dita
  src/test/resources/ChunkModuleTest/exp/topicgroup_chunk/Chunk19.dita
  src/test/resources/ProfilingFilterTest/exp/topic1_2.dita
  src/test/resources/ProfilingFilterTest/exp/topic_2.dita
  src/test/resources/ProfilingFilterTest/src/topic_2.dita
Labels: DITA 2.0, feature, preprocess, preprocess2, priority/medium
