Repository dita-ot/dita-ot, pull requests merged in 2020-04, with the labels that each got.

#3490 Add language mapping for Norwegian Bokmål
  src/main/plugins/org.dita.base/xsl/common/common-strings.xml
  src/main/plugins/org.dita.pdf2/cfg/common/vars/strings.xml
Labels: enhancement

#3491 Copyedit 3.5 CLI help
  src/main/java/org/dita/dost/invoker/ConversionArguments.java
  src/main/java/org/dita/dost/invoker/DeliverablesArguments.java
  src/main/java/org/dita/dost/invoker/InstallArguments.java
  src/main/java/org/dita/dost/invoker/UninstallArguments.java
  src/main/java/org/dita/dost/invoker/UsageBuilder.java
  src/main/plugins/org.dita.base/plugin.xml
  src/main/plugins/org.dita.html5/plugin.xml
  src/main/plugins/org.dita.xhtml/plugin.xml
Labels: enhancement

#3494 Fix missing CLI help for subcommand desc and value
  src/main/java/org/dita/dost/invoker/Arguments.java
  src/main/java/org/dita/dost/invoker/ConversionArguments.java
  src/main/java/org/dita/dost/invoker/DeliverablesArguments.java
  src/main/java/org/dita/dost/invoker/InstallArguments.java
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/invoker/PluginsArguments.java
  src/main/java/org/dita/dost/invoker/TranstypesArguments.java
  src/main/java/org/dita/dost/invoker/UninstallArguments.java
  src/main/java/org/dita/dost/invoker/UsageBuilder.java
  src/main/java/org/dita/dost/invoker/VersionArguments.java
Labels: feature, priority/medium

#3496 Fix keyref processing in include element
  src/main/java/org/dita/dost/writer/KeyrefPaser.java
Labels: bug, preprocess/keyref, priority/high

#3501 #3499 Proper namespace processing for mathml content.
  src/main/java/org/ditang/relaxng/defaults/RelaxNGDefaultsComponent.java
  src/test/resources/rng/exp/preprocess/task.dita
  src/test/resources/rng/src/task.dita
Labels: bug, preprocess, priority/high

#3497 Fix mapper with external keys in subdirectory
  src/main/plugins/org.dita.base/xsl/common/functions.xsl
  src/main/plugins/org.dita.base/xsl/preprocess/maprefImpl.xsl
  src/test/xsl/common/dita-utilities.xspec
Labels: bug, preprocess, preprocess2, priority/medium

#3498 Fix build crash when term refs missing doc
  src/main/plugins/org.dita.base/xsl/common/functions.xsl
Labels: bug, plugin/html5, priority/medium

#3503 Add support for notice note in HTML5
  src/main/plugins/org.dita.html5/xsl/topic.xsl
Labels: bug, plugin/html5, priority/medium

#3505 Avoid NPE for missing chunk
  src/main/java/org/dita/dost/writer/AbstractChunkTopicParser.java
Labels: bug, preprocess/chunking, priority/medium

#3506 Add immutable document to store
  src/main/java/org/dita/dost/module/ChunkModule.java
  src/main/java/org/dita/dost/module/DebugAndFilterModule.java
  src/main/java/org/dita/dost/store/Store.java
  src/main/java/org/dita/dost/store/StreamStore.java
  src/main/java/org/dita/dost/util/DelayConrefUtils.java
  src/main/java/org/dita/dost/util/XMLUtils.java
  src/main/java/org/dita/dost/writer/include/IncludeXml.java
Labels: enhancement, preprocess, priority/medium
