Repository dita-ot/dita-ot, pull requests merged in 2020-08, with the labels that each got.

#3556 Add support for multiple filter options in CLI
  src/main/java/org/dita/dost/invoker/ConversionArguments.java
  src/main/resources/cli_en_US.properties
  src/test/java/org/dita/dost/invoker/ConversionArgumentsTest.java
Labels: CLI, enhancement, priority/medium

#3550 Add steps wrapper to single step task
  src/main/plugins/org.dita.html5/xsl/task.xsl
Labels: bug, plugin/html5, priority/medium

#3562 Remove deprecated msgprefix parameter
  src/main/plugins/org.dita.base/xsl/common/output-message.xsl
  src/main/plugins/org.dita.base/xsl/preprocess/clean-map.xsl
  src/main/plugins/org.dita.base/xsl/preprocess/conrefImpl.xsl
  src/main/plugins/org.dita.base/xsl/preprocess/maplinkImpl.xsl
  src/main/plugins/org.dita.base/xsl/preprocess/mappullImpl.xsl
  src/main/plugins/org.dita.base/xsl/preprocess/maprefImpl.xsl
  src/main/plugins/org.dita.base/xsl/preprocess/topicpullImpl.xsl
  src/main/plugins/org.dita.html5/xsl/topic.xsl
  src/main/plugins/org.dita.htmlhelp/xsl/map2htmlhelp/map2hhcImpl.xsl
  src/main/plugins/org.dita.htmlhelp/xsl/map2htmlhelp/map2hhpImpl.xsl
  src/main/plugins/org.dita.pdf2/xsl/common/topicmergeImpl.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/commons.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/i18n-postprocess_template.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/links.xsl
  src/main/plugins/org.dita.xhtml/xsl/map2htmtoc/map2htmlImpl.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/dita2htmlImpl.xsl
  src/test/xsl/common/dita-utilities.xsl
Labels: enhancement, priority/low
