Repository dita-ot/dita-ot, pull requests merged in 2021-09, with the labels that each got.

#3800 HTML5: Use valid ARIA role for ToC <nav>
  src/main/plugins/org.dita.html5/xsl/nav.xsl
Labels: bug, priority/medium, plugin/html5

#3801 Add dedicated class to ToC navigation
  src/main/plugins/org.dita.html5/xsl/nav.xsl
Labels: bug, plugin/html5

#3759 Fix integrator path generation on Windows to output chimera paths
  src/main/java/org/dita/dost/platform/Integrator.java
  src/test/java/org/dita/dost/platform/IntegratorTest.java
Labels: bug, priority/medium, platform/windows, plugin-integration

#3805 Update to Saxon 10.6
  build.gradle
  src/main/plugins/org.dita.htmlhelp/build.gradle
  src/main/plugins/org.dita.pdf2/build.gradle
Labels: priority/medium, enhancement, dependency
