Repository dita-ot/dita-ot, pull requests merged in 2021-06, with the labels that each got.

#3760 Update DITA 2.0 beta grammars to latest
  build.gradle
Labels: DITA 2.0, enhancement

#3738 Delete charset, pragma
  src/main/plugins/org.dita.html5/xsl/dita2html5.xsl
  src/main/plugins/org.dita.html5/xsl/map2html5-cover.xsl
  src/test/resources/html5_css/exp/html5/topic.html
  src/test/resources/html5_cssExternal/exp/html5/topic.html
  src/test/resources/html5_csspath/exp/html5/topic.html
  src/test/resources/html5_ditaval/exp/html5/all.html
  src/test/resources/html5_ditaval/exp/html5/index.html
Labels: enhancement, plugin/html5, priority/medium

#3741 Add support for disabling colour in CLI using TERM or NO_COLOR
  src/main/java/org/dita/dost/invoker/Arguments.java
  src/main/java/org/dita/dost/invoker/ConversionArguments.java
  src/main/java/org/dita/dost/invoker/UsageBuilder.java
  src/main/resources/cli_en_US.properties
Labels: CLI, enhancement, priority/low

#3769 Refine Japanese font assignment for PDF2 output.
  src/main/plugins/org.dita.pdf2/cfg/fo/font-mappings.xml
Labels: enhancement, plugin/pdf, priority/medium
