Repository dita-ot/dita-ot, pull requests merged in 2021-01, with the labels that each got.

#3660 Create attribute set note__image to store attributes for note image
  src/main/plugins/org.dita.pdf2/cfg/fo/attrs/topic-attr.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
Labels: enhancement, plugin/pdf, priority/low

#3659 Fix build on ARM: Compile CSS with Dart Sass
  src/main/plugins/org.dita.html5/build.gradle
Labels: build, enhancement, plugin/html5

#3668 Add Github Actions to build and deploy to ghcr.io
  .github/workflows/docker.yml
Labels: CI

#3658 Migrate Gradle scripts to remove deprecated features
  build.gradle
  src/main/plugins/org.dita.htmlhelp/build.gradle
  src/main/plugins/org.dita.pdf2.axf/build.gradle
  src/main/plugins/org.dita.pdf2.fop/build.gradle
  src/main/plugins/org.dita.pdf2.xep/build.gradle
  src/main/plugins/org.dita.pdf2/build.gradle
Labels: build, enhancement, priority/medium

#3670 Update DOTX037W warning message
  src/main/config/messages_template.xml
  src/test/resources/messages.xml
  src/test/resources/messages_en_US.properties
Labels: enhancement
