Repository dita-ot/dita-ot, pull requests merged in 2021-12, with the labels that each got.

#3832 Retain same file links in copy-to
  src/main/java/org/dita/dost/module/CopyToModule.java
  src/test/resources/copyto/exp/preprocess/newtest2.dita
  src/test/resources/copyto/exp/preprocess/test2.dita
  src/test/resources/copyto/src/test2.dita
Labels: priority/medium, preprocess, enhancement

#3825 Integrator should fail more often
  src/main/java/org/dita/dost/platform/FileGenerator.java
  src/main/java/org/dita/dost/platform/InsertAction.java
  src/test/java/org/dita/dost/platform/IntegratorTest.java
Labels: bug, priority/medium, plugin-integration

#3833 Bump OASIS 2.0 grammars to latest
  build.gradle
Labels: priority/medium, enhancement, dependency, DITA 2.0

#3838 Update logback libs to 1.2.8
  build.gradle
Labels: priority/medium, enhancement, dependency

#3835 Deprecate legacy `gen-user` templates
  src/main/plugins/org.dita.html5/xsl/topic.xsl
Labels: plugin/html5

#3840 Exclude `docsrc/` tools from distribution builds
  build.gradle
Labels: build

#3841 Remove obsolete `log4j` remnants
  src/main/config/log4j.properties
  src/main/integrator.xml
  src/main/plugins/org.dita.pdf2.fop/fop/lib/log4j.properties
Labels: bug, dependency, security

#3842 Fix link handling in conreffed content
  src/main/plugins/org.dita.base/xsl/preprocess/conrefImpl.xsl
  src/test/resources/conrefbreaksxref/exp/preprocess/conrefbreaksxref.dita
  src/test/resources/conrefbreaksxref/exp/preprocess2/conrefbreaksxref.dita
Labels: bug, priority/medium, preprocess/conref

#3739 Retain @id in conreffed content when possible
  src/main/config/messages_template.xml
  src/main/plugins/org.dita.base/xsl/preprocess/conrefImpl.xsl
  src/test/resources/conref/exp/preprocess/lang-common1.dita
  src/test/resources/conref/exp/preprocess2/lang-common1.dita
  src/test/resources/conrefbreaksxref/build.xml
  src/test/resources/conrefbreaksxref/exp/preprocess/conrefbreaksxref.dita
  src/test/resources/conrefbreaksxref/exp/preprocess2/conrefbreaksxref.dita
  src/test/resources/lang/exp/xhtml/lang-areg.html
  src/test/resources/lang/exp/xhtml/lang-beby.html
  src/test/resources/lang/exp/xhtml/lang-bgbg.html
  src/test/resources/lang/exp/xhtml/lang-caes.html
  src/test/resources/lang/exp/xhtml/lang-cscz.html
  src/test/resources/lang/exp/xhtml/lang-dadk.html
  src/test/resources/lang/exp/xhtml/lang-dech.html
  src/test/resources/lang/exp/xhtml/lang-dede.html
  src/test/resources/lang/exp/xhtml/lang-elgr.html
  src/test/resources/lang/exp/xhtml/lang-enca.html
  src/test/resources/lang/exp/xhtml/lang-engb.html
  src/test/resources/lang/exp/xhtml/lang-enus.html
  src/test/resources/lang/exp/xhtml/lang-eses.html
  src/test/resources/lang/exp/xhtml/lang-etee.html
  src/test/resources/lang/exp/xhtml/lang-fifi.html
  src/test/resources/lang/exp/xhtml/lang-frbe.html
  src/test/resources/lang/exp/xhtml/lang-frca.html
  src/test/resources/lang/exp/xhtml/lang-frch.html
  src/test/resources/lang/exp/xhtml/lang-frfr.html
  src/test/resources/lang/exp/xhtml/lang-heil.html
  src/test/resources/lang/exp/xhtml/lang-hiin.html
  src/test/resources/lang/exp/xhtml/lang-hrhr.html
  src/test/resources/lang/exp/xhtml/lang-huhu.html
  src/test/resources/lang/exp/xhtml/lang-isis.html
  src/test/resources/lang/exp/xhtml/lang-itch.html
  src/test/resources/lang/exp/xhtml/lang-itit.html
  src/test/resources/lang/exp/xhtml/lang-jajp.html
  src/test/resources/lang/exp/xhtml/lang-kokr.html
  src/test/resources/lang/exp/xhtml/lang-ltlt.html
  src/test/resources/lang/exp/xhtml/lang-lvlv.html
  src/test/resources/lang/exp/xhtml/lang-mkmk.html
  src/test/resources/lang/exp/xhtml/lang-nlbe.html
  src/test/resources/lang/exp/xhtml/lang-nlnl.html
  src/test/resources/lang/exp/xhtml/lang-nono.html
  src/test/resources/lang/exp/xhtml/lang-plpl.html
  src/test/resources/lang/exp/xhtml/lang-ptbr.html
  src/test/resources/lang/exp/xhtml/lang-ptpt.html
  src/test/resources/lang/exp/xhtml/lang-roro.html
  src/test/resources/lang/exp/xhtml/lang-ruru.html
  src/test/resources/lang/exp/xhtml/lang-sksk.html
  src/test/resources/lang/exp/xhtml/lang-slsi.html
  src/test/resources/lang/exp/xhtml/lang-srsp.html
  src/test/resources/lang/exp/xhtml/lang-svse.html
  src/test/resources/lang/exp/xhtml/lang-thth.html
  src/test/resources/lang/exp/xhtml/lang-trtr.html
  src/test/resources/lang/exp/xhtml/lang-ukua.html
  src/test/resources/lang/exp/xhtml/lang-urpk.html
  src/test/resources/lang/exp/xhtml/lang-zhcn.html
  src/test/resources/lang/exp/xhtml/lang-zhtw.html
  src/test/resources/pushAfter_without_conref/exp/preprocess/dita2.dita
  src/test/xsl/preprocess/conrefImpl.xspec
Labels: priority/medium, preprocess/conref, enhancement
