Repository dita-ot/dita-ot, pull requests merged in 2021-08, with the labels that each got.

#3780 Support fileset for style configuration
  src/main/java/org/dita/dost/ant/ExtensibleAntInvoker.java
  src/main/java/org/dita/dost/module/XsltModule.java
Labels: ant, enhancement, priority/medium

#3779 Make XHTML object elements valid when there's fallback
  src/main/plugins/org.dita.html5/xsl/topic.xsl
  src/test/xsl/plugins/org.dita.html5/xsl/object.xsl
  src/test/xsl/plugins/org.dita.html5/xsl/object.xspec
Labels: bug, priority/medium, plugin/html5

#3778 Feature/generate stable id failure for generated elements
  src/main/plugins/org.dita.html5/xsl/functions.xsl
  src/test/xsl/plugins/org.dita.html5/xsl/functions.xspec
Labels: bug, priority/medium, plugin/html5

#3766 #3765 [fix] <fig> content is out of order in PDF
  build.gradle
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
  src/test/xsl/plugins/org.dita.pdf2/xsl/fo/topic.xsl
  src/test/xsl/plugins/org.dita.pdf2/xsl/fo/topic.xspec
Labels: bug, plugin/pdf, priority/medium

#3786 #3785 Convert width and height values in pixels to avoid NaN if values with units.
  src/main/plugins/org.dita.html5/xsl/topic.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/dita2htmlImpl.xsl
Labels: bug, plugin/xhtml, priority/medium, plugin/html5

#3752 Fix for issue 3751 XHTML - Colsep/rowsep ignored on tgroup element
  src/main/plugins/org.dita.html5/xsl/tables.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/tables.xsl
Labels: bug, plugin/xhtml, priority/medium, plugin/html5

#3775 #3733 Create unique topics for all dita resources
  src/main/java/org/dita/dost/module/KeyrefModule.java
  src/test/java/org/dita/dost/module/KeyrefModuleTest.java
  src/test/resources/KeyrefModuleTest/src/test2.ditamap
Labels: bug, priority/medium, preprocess/keyref

#3791 Remove HTML5 special case for Adobe Flash
  src/main/plugins/org.dita.html5/xsl/topic.xsl
Labels: priority/medium, enhancement, plugin/html5

#3794 Use modes instead of named templates in HTML5 stylesheets
  src/main/plugins/org.dita.html5/xsl/topic.xsl
Labels: priority/medium, enhancement, plugin/html5

#3796 merge duplicate @keyscope values between <mapref> and <map>
  src/main/plugins/org.dita.base/xsl/preprocess/maprefImpl.xsl
Labels: priority/medium, preprocess/keyref, enhancement
