Repository dita-ot/dita-ot, pull requests merged in 2021-11, with the labels that each got.

#3820 Add test for peer mapref
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/java/org/dita/dost/IntegrationTestPreprocess2.java
  src/test/java/org/dita/dost/IntegrationTestXhtml.java
  src/test/resources/mapref/exp/preprocess/test.ditamap
  src/test/resources/mapref/exp/preprocess2/test.ditamap
  src/test/resources/mapref/src/test.ditamap
Labels: priority/medium, preprocess

#3709 Fix: 'Warning' notes could not be styled separately
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
Labels: bug, plugin/pdf, priority/medium

#3821 Update dependencies
  build.gradle
  src/main/plugins/org.dita.htmlhelp/build.gradle
  src/main/plugins/org.dita.pdf2/build.gradle
Labels: priority/medium, enhancement, dependency

#3790 Fix errors for <mapref scope="peer"> references
  src/main/plugins/org.dita.base/xsl/preprocess/mappullImpl.xsl
  src/main/plugins/org.dita.base/xsl/preprocess/maprefImpl.xsl
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/java/org/dita/dost/IntegrationTestPreprocess2.java
  src/test/java/org/dita/dost/IntegrationTestXhtml.java
  src/test/resources/mapref/exp/preprocess/test.ditamap
  src/test/resources/mapref/exp/preprocess2/test.ditamap
Labels: bug, priority/medium, preprocess

#3824 Fix reading empty param value in XML project file
  src/main/java/org/dita/dost/project/XmlReader.java
  src/test/java/org/dita/dost/project/XmlReaderTest.java
  src/test/resources/org/dita/dost/project/simple.json
  src/test/resources/org/dita/dost/project/simple.xml
  src/test/resources/org/dita/dost/project/simple.yaml
Labels: bug, priority/medium, project

#3829 Replace attribute-set reflection in PDF2
  src/main/plugins/org.dita.pdf2/xsl/common/attr-set-reflection.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/reference-elements.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/tables.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
  src/test/java/org/dita/dost/AbstractIntegrationTest.java
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/java/org/dita/dost/IntegrationTestPdf.java
  src/test/resources/pdf/exp/pdf/topic.fo
  src/test/resources/pdf/src/bookmap.ditamap
  src/test/resources/pdf/src/concept.dita
  src/test/resources/pdf/src/image.svg
  src/test/resources/pdf/src/reference.dita
  src/test/resources/pdf/src/task.dita
  src/test/resources/pdf/src/topic.dita
  src/test/xsl/plugins/org.dita.pdf2/xsl/fo/simpletable.xsl
  src/test/xsl/plugins/org.dita.pdf2/xsl/fo/topic.xsl
Labels: plugin/pdf, priority/medium, enhancement
