Repository dita-ot/dita-ot, pull requests merged in 2022-01, with the labels that each got.

#3843 Update to latest DITA 1.3 hotfix
  src/main/plugins/org.oasis-open.dita.v1_3/dtd/base/dtd/tblDecl.mod
  src/main/plugins/org.oasis-open.dita.v1_3/dtd/technicalContent/dtd/releaseManagementDomain.mod
  src/main/plugins/org.oasis-open.dita.v1_3/rng/base/rng/tblDeclMod.rng
  src/main/plugins/org.oasis-open.dita.v1_3/rng/technicalContent/rng/releaseManagementDomain.rng
  src/main/plugins/org.oasis-open.dita.v1_3/schema-url/base/xsd/tblDeclMod.xsd
  src/main/plugins/org.oasis-open.dita.v1_3/schema-url/technicalContent/xsd/releaseManagementDomain.xsd
  src/main/plugins/org.oasis-open.dita.v1_3/schema/base/xsd/tblDeclMod.xsd
  src/main/plugins/org.oasis-open.dita.v1_3/schema/technicalContent/xsd/releaseManagementDomain.xsd
Labels: dita standard, DITA 1.3

#3849 Remove gen-user-sidetoc deprecation
  src/main/plugins/org.dita.html5/xsl/topic.xsl
Labels: bug

#3850 Change args.rellinks default to ignore only ancestor
  src/main/plugins/org.dita.base/build_init.xml
  src/main/plugins/org.dita.base/plugin.xml
  src/test/resources/bookmap3/exp/xhtml/task.html
  src/test/resources/bookmap7/exp/xhtml/task.html
  src/test/resources/mapref_reltables/exp/preprocess/main-4.dita
  src/test/resources/mapref_reltables/exp/preprocess/main-5.dita
Labels: priority/medium, enhancement, plugin/html5

#3830 Refactor attribute generation in XSLT
  src/main/plugins/org.dita.base/xsl/preprocess/mappullImpl.xsl
  src/main/plugins/org.dita.base/xsl/preprocess/maprefImpl.xsl
  src/main/plugins/org.dita.html5/xsl/hi-d.xsl
  src/main/plugins/org.dita.html5/xsl/htmlflag.xsl
  src/main/plugins/org.dita.html5/xsl/pr-d.xsl
  src/main/plugins/org.dita.html5/xsl/rel-links.xsl
  src/main/plugins/org.dita.html5/xsl/simpletable.xsl
  src/main/plugins/org.dita.html5/xsl/sw-d.xsl
  src/main/plugins/org.dita.html5/xsl/syntax-braces.xsl
  src/main/plugins/org.dita.html5/xsl/syntax-svg.xsl
  src/main/plugins/org.dita.html5/xsl/tables.xsl
  src/main/plugins/org.dita.html5/xsl/task.xsl
  src/main/plugins/org.dita.html5/xsl/topic.xsl
  src/main/plugins/org.dita.html5/xsl/ui-d.xsl
  src/main/plugins/org.dita.html5/xsl/ut-d.xsl
  src/main/plugins/org.dita.htmlhelp/xsl/map2htmlhelp/map2hhcImpl.xsl
  src/main/plugins/org.dita.pdf2/cfg/fo/attrs/commons-attr.xsl
  src/main/plugins/org.dita.pdf2/cfg/fo/attrs/index-attr.xsl
  src/main/plugins/org.dita.pdf2/cfg/fo/attrs/layout-masters-attr.xsl
  src/main/plugins/org.dita.pdf2/cfg/fo/attrs/links-attr.xsl
  src/main/plugins/org.dita.pdf2/cfg/fo/attrs/toc-attr.xsl
  src/main/plugins/org.dita.pdf2/cfg/fo/attrs/topic-attr.xsl
  src/main/plugins/org.dita.pdf2/xsl/common/attr-set-reflection.xsl
  src/main/plugins/org.dita.pdf2/xsl/common/topicmergeImpl.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/flagging.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/i18n-postprocess_template.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/links.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/tables.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
  src/main/plugins/org.dita.xhtml/xsl/dita2xhtml.xsl
  src/main/plugins/org.dita.xhtml/xsl/map2htmtoc/map2htmtocImpl.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/dita2htmlImpl.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/get-meta.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/htmlflag.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/pr-d.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/refdisplay.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/rel-links.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/sw-d.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/syntax-braces.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/syntax-svg.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/tables.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/taskdisplay.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/ui-d.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/ut-d.xsl
Labels: priority/low, enhancement

#3855 Add HTML5 table XSpec
  src/test/xsl/plugins/org.dita.html5/xsl/object.xspec
  src/test/xsl/plugins/org.dita.html5/xsl/tables.xspec
  src/test/xsl/plugins/org.dita.html5/xsl/topic.xsl
Labels: enhancement, plugin/html5

#3860 Updated used Xerces version to 2.12.2 #3857
  build.gradle
Labels: bug, priority/high, dependency, security
