Repository dita-ot/dita-ot, pull requests merged in 2022-03, with the labels that each got.

#3894 #3750 Updated force unique filter to work with references to separate topics inside the same file
  src/main/java/org/dita/dost/writer/ForceUniqueFilter.java
  src/test/java/org/dita/dost/writer/ForceUniqueFilterTest.java
  src/test/resources/ForceUniqueFilterTest/exp/test.ditamap
  src/test/resources/ForceUniqueFilterTest/src/test.ditamap
Labels: bug, priority/medium, preprocess

#3895 Add profiles to publication project file
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/project/Project.java
  src/main/java/org/dita/dost/project/ProjectBuilder.java
  src/main/java/org/dita/dost/project/XmlReader.java
  src/main/resources/project.rnc
  src/test/java/org/dita/dost/invoker/MainProjectTest.java
  src/test/java/org/dita/dost/project/ProjectFactoryTest.java
  src/test/java/org/dita/dost/project/ProjectTest.java
  src/test/resources/org/dita/dost/project/profiles.xml
  src/test/resources/plugins.xml
Labels: priority/medium, enhancement, project

#3885 NullPointerException in JobMapper when referencing image on another disk drive.
  src/main/java/org/dita/dost/module/CleanPreprocessModule.java
  src/test/java/org/dita/dost/module/CleanPreprocessModuleTest.java
Labels: bug, priority/medium, preprocess

#3898 Use separate temporary directory for each project deliverable
  src/main/java/org/dita/dost/invoker/Arguments.java
  src/main/java/org/dita/dost/invoker/ConversionArguments.java
  src/main/java/org/dita/dost/invoker/Main.java
  src/test/java/org/dita/dost/invoker/MainProjectTest.java
Labels: priority/medium, enhancement, project

#3901 Add utility methods
  src/main/java/org/dita/dost/invoker/Arguments.java
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/module/XsltModule.java
  src/main/java/org/dita/dost/util/LangUtils.java
  src/test/java/org/dita/dost/util/LangUtilsTest.java
Labels: enhancement

#3851 New process skip properties
  src/main/config/messages_template.xml
  src/main/plugins/org.dita.base/build_init.xml
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/main/plugins/org.dita.base/build_preprocess_template.xml
  src/main/plugins/org.dita.base/build_template.xml
  src/main/plugins/org.dita.base/plugin.xml
  src/main/plugins/org.dita.pdf2/build_template.xml
Labels: feature, priority/medium
