Repository dita-ot/dita-ot, pull requests merged in 2022-06, with the labels that each got.

#3926 Grammar caching and validation for RNG-based topics
  src/main/java/org/dita/dost/reader/GrammarPoolManager.java
  src/main/java/org/dita/dost/util/XMLGrammarPoolImplUtils.java
  src/main/java/org/ditang/relaxng/defaults/RNCDefaultValues.java
  src/main/java/org/ditang/relaxng/defaults/RNGDefaultValues.java
  src/main/java/org/ditang/relaxng/defaults/RelaxDefaultsParserConfiguration.java
  src/main/java/org/ditang/relaxng/defaults/RelaxNGDefaultValues.java
  src/main/java/org/ditang/relaxng/defaults/RelaxNGDefaultsComponent.java
  src/main/java/org/ditang/relaxng/defaults/pool/RNGDefaultsEnabledGrammarPool.java
  src/main/java/org/ditang/relaxng/defaults/pool/RNGDefaultsEnabledSynchronizedXMLGrammarPoolImpl.java
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/java/org/dita/dost/IntegrationTestPreprocess1.java
  src/test/java/org/dita/dost/IntegrationTestPreprocess2.java
  src/test/resources/bookmap-rng-based-no-validate/exp/preprocess/main.ditamap
  src/test/resources/bookmap-rng-based-no-validate/exp/preprocess/t1.dita
  src/test/resources/bookmap-rng-based-no-validate/exp/preprocess/t2.dita
  src/test/resources/bookmap-rng-based-no-validate/src/main.ditamap
  src/test/resources/bookmap-rng-based-no-validate/src/t1.dita
  src/test/resources/bookmap-rng-based-no-validate/src/t2.dita
  src/test/resources/bookmap-rng-based-validate/exp/preprocess/main.ditamap
  src/test/resources/bookmap-rng-based-validate/exp/preprocess/t1.dita
  src/test/resources/bookmap-rng-based-validate/src/main.ditamap
  src/test/resources/bookmap-rng-based-validate/src/t1.dita
  src/test/resources/bookmap-rng-based-validate/src/t2.dita
  src/test/resources/bookmap-rng-based/exp/preprocess/c1.dita
  src/test/resources/bookmap-rng-based/exp/preprocess/c2.dita
  src/test/resources/bookmap-rng-based/exp/preprocess/main.ditamap
  src/test/resources/bookmap-rng-based/exp/preprocess/t1.dita
  src/test/resources/bookmap-rng-based/exp/preprocess/t2.dita
  src/test/resources/bookmap-rng-based/src/c1.dita
  src/test/resources/bookmap-rng-based/src/c2.dita
  src/test/resources/bookmap-rng-based/src/main.ditamap
  src/test/resources/bookmap-rng-based/src/t1.dita
  src/test/resources/bookmap-rng-based/src/t2.dita
  src/test/resources/messages_en_US.properties
Labels: priority/medium, preprocess, enhancement

#3943 Use UTF-8 encoding when writing job
  src/main/java/org/dita/dost/util/Job.java
  src/test/java/org/dita/dost/util/JobTest.java
Labels: bug, priority/medium, preprocess

#3945 Port fix for #3867 from #3874 to 3.7.3
  src/main/java/org/dita/dost/module/KeyrefModule.java
  src/test/java/org/dita/dost/module/KeyrefModuleTest.java
  src/test/resources/KeyrefModuleTest/src/test3.ditamap
Labels: bug, priority/medium, preprocess/keyref

#3947 Fix for #2704 Avoid renaming non-DITA resources on branches
  src/main/java/org/dita/dost/module/BranchFilterModule.java
  src/test/java/org/dita/dost/module/BranchFilterModuleTest.java
  src/test/resources/BranchFilterModuleTest/exp/inputNonDitaRes.ditamap
  src/test/resources/BranchFilterModuleTest/src/inputNonDitaRes.ditamap
  src/test/resources/BranchFilterModuleTest/src/test.pdf
Labels: bug, priority/medium, preprocess/branch-filtering
