Repository dita-ot/dita-ot, pull requests merged in 2022-04, with the labels that each got.

#3907 Add param to publication ref element
  src/main/java/org/dita/dost/project/ProjectBuilder.java
  src/main/java/org/dita/dost/project/ProjectFactory.java
  src/main/resources/project.rnc
  src/test/java/org/dita/dost/project/ProjectFactoryTest.java
  src/test/resources/org/dita/dost/project/product.json
  src/test/resources/org/dita/dost/project/product.xml
  src/test/resources/org/dita/dost/project/product.yaml
Labels: feature, priority/medium, project

#3906 DITA 2.0 support for nested steps oasis-tcs/dita#106
  src/main/plugins/org.dita.html5/xsl/task.xsl
  src/main/plugins/org.dita.pdf2/cfg/common/vars/commonvariables.xml
  src/main/plugins/org.dita.pdf2/xsl/fo/task-elements.xsl
Labels: DITA 2.0

#3912 Fix mailto URI support in URI utils #3730
  src/main/java/org/dita/dost/util/URLUtils.java
  src/main/java/org/dita/dost/writer/ValidationFilter.java
  src/test/java/org/dita/dost/util/URLUtilsTest.java
Labels: bug, priority/medium, preprocess

#3919 Remove support for delayed conref domain
  src/main/java/org/dita/dost/module/GenMapAndTopicListModule.java
  src/main/java/org/dita/dost/module/KeyrefModule.java
  src/main/java/org/dita/dost/module/reader/AbstractReaderModule.java
  src/main/java/org/dita/dost/module/reader/MapReaderModule.java
  src/main/java/org/dita/dost/module/reader/TopicReaderModule.java
  src/main/java/org/dita/dost/reader/MapMetaReader.java
  src/main/java/org/dita/dost/util/Constants.java
  src/main/java/org/dita/dost/util/DelayConrefUtils.java
  src/main/java/org/dita/dost/writer/ConkeyrefFilter.java
  src/main/java/org/dita/dost/writer/ExportAnchorsFilter.java
  src/main/java/org/dita/dost/writer/ValidationFilter.java
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/main/plugins/org.dita.base/build_preprocess_template.xml
  src/test/java/org/dita/dost/IntegrationTest.java
  src/test/java/org/dita/dost/IntegrationTestPreprocess2.java
  src/test/resources/KeyrefPaserTest/exp/b.ditamap
  src/test/resources/KeyrefPaserTest/src/b.ditamap
  src/test/resources/KeyrefPaserTest/src/keys.ditamap
  src/test/resources/MapMetaReaderTest/exp/test.ditamap
  src/test/resources/MapMetaReaderTest/src/test.ditamap
  src/test/resources/TestTopicMergeModule/compare.xml
  src/test/resources/TestTopicMergeModule/temp/componentA/configA.xml
  src/test/resources/TestTopicMergeModule/temp/test.ditamap
  src/test/resources/exportanchors/exp/preprocess/export.xml
  src/test/resources/exportanchors/src/componentA/configA.dita
  src/test/resources/exportanchors/src/componentA/this.dita
  src/test/resources/exportanchors/src/test.ditamap
Labels: priority/medium, preprocess, enhancement

#3921 Update GHA action versions
  .github/workflows/docker.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
  .github/workflows/test.yml
Labels: enhancement, CI
