Repository dita-ot/dita-ot, pull requests merged in 2023-12, with the labels that each got.

#4330 centralize heading level computation in HTML outputs
  src/main/plugins/org.dita.html5/xsl/task.xsl
  src/main/plugins/org.dita.html5/xsl/topic.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/dita2htmlImpl.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/taskdisplay.xsl
Labels: plugin/xhtml, priority/medium, enhancement, plugin/html5

#4353 Fix non-DITA map references
  src/main/java/org/dita/dost/writer/DitaWriterFilter.java
Labels: bug, priority/medium, preprocess

#4303 use `@class="compact"` instead of `@compact="yes"` for HTML outputs
  src/main/plugins/org.dita.html5/sass/_lists.scss
  src/main/plugins/org.dita.html5/xsl/topic.xsl
  src/main/plugins/org.dita.xhtml/resource/commonltr.css
  src/main/plugins/org.dita.xhtml/resource/commonrtl.css
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/dita2htmlImpl.xsl
Labels: plugin/xhtml, priority/low, enhancement, plugin/html5
