Repository dita-ot/dita-ot, pull requests merged in 2023-02, with the labels that each got.

#4118 Remove obsolete Travis configuration
  .travis/24AC15F2.gpg.enc
  .travis/ditaotbot_rsa.enc
  .travis/registry.js
  .travis/registry.sh
  README.markdown
Labels: priority/low, enhancement, CI

#4089 remove "mailto:" prefix from default "mailto:" link target text
  src/main/plugins/org.dita.html5/xsl/rel-links.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/links.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/rel-links.xsl
Labels: plugin/xhtml, plugin/pdf, enhancement, plugin/html5

#4120 Relaxed match to find ancestor map or topic
  src/main/plugins/org.dita.base/xsl/preprocess/conrefImpl.xsl
Labels: bug, preprocess/conref

#4126 Dispatch docs release #4125
  .github/workflows/bump-homebrew-formula.yml
  .github/workflows/release-debug.yml
  .github/workflows/release.yml
Labels: enhancement, CI

#4131 Don't log about missing target when target is external
  src/main/plugins/org.dita.pdf2/xsl/fo/root-processing.xsl
Labels: bug, plugin/pdf, priority/medium
