Repository dita-ot/dita-ot, pull requests merged in 2024-01, with the labels that each got.

#4287 Revise log messages for #3973
  src/main/config/messages_template.xml
  src/main/plugins/org.dita.htmlhelp/resource/messages.xml
  src/main/plugins/org.dita.pdf2/resource/messages.xml
  src/main/plugins/org.dita.xhtml/resource/messages.xml
Labels: enhancement

#4328 Separate install and uninstall subcommand classpath
  src/main/bin/dita
  src/main/bin/dita.bat
Labels: bug, priority/medium, CLI

#4176 Improve some comments related to topicpull XSLT parameters
  src/main/plugins/org.dita.base/xsl/preprocess/topicpullImpl.xsl
Labels: priority/low, enhancement

#4357 Simplify `docsrc/` exclude patterns in dist builds
  build.gradle
Labels: bug, build

#4358 Deprecate compact attributes with Sass @warn rules
  src/main/plugins/org.dita.html5/sass/_lists.scss
Labels: plugin/html5

#4352 Generate root map metadata to HTML5 index file
  src/main/plugins/org.dita.html5/xsl/get-meta.xsl
Labels: bug, plugin/html5

#4266 In topicpull, update "copy-shortdesc" template to process all @href values
  src/main/plugins/org.dita.base/xsl/preprocess/topicpullImpl.xsl
Labels: bug, preprocess

#4209 add markers where named templates can be converted to moded templates
  src/main/plugins/org.dita.base/xsl/preprocess/mappullImpl.xsl
  src/main/plugins/org.dita.base/xsl/preprocess/topicpullImpl.xsl
  src/main/plugins/org.dita.html5/xsl/cover.xsl
  src/main/plugins/org.dita.html5/xsl/rel-links.xsl
  src/main/plugins/org.dita.html5/xsl/topic.xsl
  src/main/plugins/org.dita.html5/xsl/ut-d.xsl
  src/main/plugins/org.dita.pdf2.fop/xsl/fo/tables_fop.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/commons.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/concept.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/glossary.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/hazard-d.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/hi-domain.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/links.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/lists.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/markup-domain.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/pr-domain.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/preface.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/reference-elements.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/root-processing.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/sw-domain.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/tables.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/task-elements.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/topic.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/ui-domain.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/ut-domain.xsl
  src/main/plugins/org.dita.pdf2/xsl/fo/xml-domain.xsl
  src/main/plugins/org.dita.xhtml/xsl/map2htmtoc/map2htmlcoverImpl.xsl
  src/main/plugins/org.dita.xhtml/xsl/map2htmtoc/map2htmtocImpl.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/dita2htmlImpl.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/rel-links.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/ut-d.xsl
Labels: enhancement

#4359 Update to latest OASIS 2.0 grammar files
  build.gradle
Labels: enhancement, DITA 2.0

#4361 Bump logback to 1.4.14
  build.gradle
Labels: bug, dependency

#4362 Rewrite messages.xml in integration to support overriding and deduplication
  src/main/config/configuration.properties
  src/main/java/org/dita/dost/platform/Integrator.java
  src/test/java/org/dita/dost/platform/IntegratorTest.java
  src/test/resources/IntegratorTest/exp/config/messages.xml
  src/test/resources/IntegratorTest/src/config/messages.xml
Labels: enhancement, plugin-integration

#4364 Remove deprecated table classes
  src/main/plugins/org.dita.html5/sass/_tables.scss
Labels: enhancement, plugin/html5

#4365 Add release test workflow
  .github/workflows/release-test.yml
Labels: enhancement, build

#4366 Bump xdita from 0.3.1 to 0.3.2
  build.gradle
Labels: dependency

#4115 Save submap metadata inside `<mapref>` elements
  src/main/plugins/org.dita.base/xsl/preprocess/clean-map.xsl
  src/main/plugins/org.dita.base/xsl/preprocess/maprefImpl.xsl
  src/test/resources/MaprefModuleTest/exp/mapref_topicrefID/ff698d09fad412d8af8bfdb6e5da6c2bed4f356f.ditamap
  src/test/resources/MaprefModuleTest/src/mapref_topicrefID/ff698d09fad412d8af8bfdb6e5da6c2bed4f356f.ditamap
Labels: preprocess, enhancement

#4368 Fix bug in task label header level calculation
  src/main/plugins/org.dita.html5/xsl/task.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/taskdisplay.xsl
  src/test/java/org/dita/dost/IntegrationTestHtml5.java
  src/test/resources/html5/exp/html5/concept.html
  src/test/resources/html5/exp/html5/index.html
  src/test/resources/html5/exp/html5/reference.html
  src/test/resources/html5/exp/html5/task.html
  src/test/resources/html5/exp/html5/topic.html
  src/test/resources/html5/src/concept.dita
  src/test/resources/html5/src/map.ditamap
  src/test/resources/html5/src/reference.dita
  src/test/resources/html5/src/task.dita
  src/test/resources/html5/src/topic.dita
Labels: bug, plugin/xhtml, priority/medium, plugin/html5

#4369 Use generated copy-to from branch filtering as key value
  src/main/java/org/dita/dost/module/filter/MapBranchFilterModule.java
  src/main/java/org/dita/dost/module/filter/TopicBranchFilterModule.java
  src/main/java/org/dita/dost/reader/KeyrefReader.java
  src/test/java/org/dita/dost/reader/TestKeyrefReader.java
  src/test/resources/TestKeyrefReader/src/copyto.ditamap
Labels: bug, preprocess/keyref, preprocess2

#4225 Use map-first preprocessing in HTML5 transtype
  src/main/plugins/org.dita.html5/build_dita2html5_template.xml
Labels: plugin/xhtml, enhancement, plugin/html5, preprocess2
