Repository dita-ot/dita-ot, pull requests merged in 2024-11, with the labels that each got.

#4530 Update indexing plug-in to version 2.0
  build.gradle
Labels: plugin/pdf, enhancement, dependency

#4533 add HTML5 metadata placeholders for <data>, <data-about>, and <resourceid>
  src/main/plugins/org.dita.html5/xsl/get-meta.xsl
Labels: priority/low, enhancement, plugin/html5

#4544 Keyref with only whitespace is processed
  src/main/config/configuration.properties
  src/main/java/org/dita/dost/writer/KeyrefPaser.java
  src/test/java/org/dita/dost/writer/KeyrefPaserTest.java
  src/test/resources/KeyrefPaserTest/exp/compatibility.xml
  src/test/resources/KeyrefPaserTest/exp/whitespace.xml
  src/test/resources/KeyrefPaserTest/src/compatibility.xml
  src/test/resources/KeyrefPaserTest/src/whitespace.xml
  src/test/resources/configuration.properties
Labels: bug, priority/medium, preprocess/keyref

#4509 Add init subcommand
  src/main/java/org/dita/dost/invoker/ArgumentParser.java
  src/main/java/org/dita/dost/invoker/ConversionArguments.java
  src/main/java/org/dita/dost/invoker/InitArguments.java
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/platform/Plugins.java
  src/main/plugins/org.dita.base/plugin.xml
  src/main/resources/cli_en_US.properties
  src/main/resources/plugin.rnc
  src/test/java/org/dita/dost/invoker/ArgumentParserTest.java
Labels: feature, priority/medium, CLI
