Repository dita-ot/dita-ot, pull requests merged in 2024-12, with the labels that each got.

#4549 Add help subcommand
  src/main/java/org/dita/dost/invoker/ArgumentParser.java
  src/main/java/org/dita/dost/invoker/HelpArguments.java
  src/main/java/org/dita/dost/invoker/InitArguments.java
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/resources/cli_en_US.properties
Labels: enhancement, CLI

#4547 Process software elements as keywords #4540
  src/main/plugins/org.dita.html5/xsl/sw-d.xsl
  src/main/plugins/org.dita.xhtml/xsl/xslhtml/sw-d.xsl
Labels: bug, plugin/html5

#4545 Windows command fails if subcommand contains double quote (")
  src/main/bin/dita.bat
Labels: platform/windows, CLI

#4551 Change params order in Linux script
  src/main/bin/dita
Labels: CLI, platform/linux
