Repository dita-ot/dita-ot, pull requests merged in 2025-06, with the labels that each got.

#4632 Update dependencies
  build.gradle
  src/main/plugins/org.dita.htmlhelp/build.gradle
  src/main/plugins/org.dita.pdf2/build.gradle
Labels: enhancement, dependency

#4637 Refactor keyref parser
  src/main/java/org/dita/dost/module/KeyrefModule.java
  src/main/java/org/dita/dost/writer/KeyrefParser.java
  src/test/java/org/dita/dost/writer/KeyrefParserTest.java
  src/test/resources/KeyrefParserTest/exp/a.xml
  src/test/resources/KeyrefParserTest/exp/b.ditamap
  src/test/resources/KeyrefParserTest/exp/compatibility.xml
  src/test/resources/KeyrefParserTest/exp/copy-to-keys.dita
  src/test/resources/KeyrefParserTest/exp/copy-to-keys.ditamap
  src/test/resources/KeyrefParserTest/exp/d.ditamap
  src/test/resources/KeyrefParserTest/exp/fallback.xml
  src/test/resources/KeyrefParserTest/exp/id.xml
  src/test/resources/KeyrefParserTest/exp/subdir/c.ditamap
  src/test/resources/KeyrefParserTest/exp/subdir/subdirtopic.xml
  src/test/resources/KeyrefParserTest/exp/whitespace.xml
  src/test/resources/KeyrefParserTest/src/a.xml
  src/test/resources/KeyrefParserTest/src/b.ditamap
  src/test/resources/KeyrefParserTest/src/compatibility.xml
  src/test/resources/KeyrefParserTest/src/copy-to-keys.dita
  src/test/resources/KeyrefParserTest/src/copy-to-keys.ditamap
  src/test/resources/KeyrefParserTest/src/d.ditamap
  src/test/resources/KeyrefParserTest/src/fallback.xml
  src/test/resources/KeyrefParserTest/src/id.xml
  src/test/resources/KeyrefParserTest/src/keys.ditamap
  src/test/resources/KeyrefParserTest/src/subdir/c.ditamap
  src/test/resources/KeyrefParserTest/src/subdir/subdirtopic.xml
  src/test/resources/KeyrefParserTest/src/whitespace.xml
Labels: preprocess/keyref, enhancement

#4638 Cache topic IDs in keyref processing
  src/main/java/org/dita/dost/module/KeyrefModule.java
  src/main/java/org/dita/dost/writer/KeyrefParser.java
Labels: priority/medium, preprocess/keyref, enhancement

#4639 support HTML5 attribute passthrough on root topic elements (#4464)
  src/main/plugins/org.dita.html5/xsl/topic.xsl
  src/test/resources/html5_ditaval/exp/html5/all.html
  src/test/resources/html5_ditaval/src/all.dita
Labels: bug, priority/medium, plugin/html5

#4645 Fix attribute cascading
  src/main/java/org/dita/dost/module/BranchFilterModule.java
  src/main/java/org/dita/dost/module/CopyToModule.java
  src/main/java/org/dita/dost/module/KeyrefModule.java
  src/main/java/org/dita/dost/module/filter/MapBranchFilterModule.java
  src/main/java/org/dita/dost/module/filter/TopicBranchFilterModule.java
  src/main/java/org/dita/dost/reader/CopyToReader.java
  src/main/java/org/dita/dost/reader/GenListModuleReader.java
  src/main/java/org/dita/dost/reader/KeydefFilter.java
  src/main/java/org/dita/dost/reader/KeyrefReader.java
  src/main/java/org/dita/dost/reader/MapMetaReader.java
  src/main/java/org/dita/dost/reader/MergeMapParser.java
  src/main/java/org/dita/dost/reader/MergeTopicParser.java
  src/main/java/org/dita/dost/util/AttributeStack.java
  src/main/java/org/dita/dost/util/Constants.java
  src/main/java/org/dita/dost/util/DitaUtils.java
  src/main/java/org/dita/dost/util/XMLUtils.java
  src/main/java/org/dita/dost/writer/AbstractChunkTopicParser.java
  src/main/java/org/dita/dost/writer/ChunkTopicParser.java
  src/main/java/org/dita/dost/writer/DitaLinksWriter.java
  src/main/java/org/dita/dost/writer/DitaWriterFilter.java
  src/main/java/org/dita/dost/writer/ForceUniqueFilter.java
  src/main/java/org/dita/dost/writer/KeyrefPaser.java
  src/main/java/org/dita/dost/writer/LinkFilter.java
  src/main/java/org/dita/dost/writer/SeparateChunkTopicParser.java
  src/main/java/org/dita/dost/writer/TopicRefWriter.java
  src/main/java/org/dita/dost/writer/ValidationFilter.java
  src/test/java/org/dita/dost/util/AttributeStackTest.java
Labels: bug, priority/medium, preprocess

#4651 Spotless is prettier
  .gitattributes
  .github/workflows/test.yml
  .prettierignore
  README.markdown
  build.gradle
  package-lock.json
  package.json
Labels: enhancement, build
