Repository dita-ot/dita-ot, pull requests merged in 2025-02, with the labels that each got.

#4556 Protect against billion laughs attack
  src/main/java/org/dita/dost/util/XMLUtils.java
  src/test/java/org/dita/dost/reader/CustomXMLReader.java
Labels: priority/medium, preprocess, enhancement

#4400 Add validation subcommand and plug-in
  .gitignore
  src/main/java/org/dita/dost/invoker/ArgumentParser.java
  src/main/java/org/dita/dost/invoker/Arguments.java
  src/main/java/org/dita/dost/invoker/ConversionArguments.java
  src/main/java/org/dita/dost/invoker/DeliverablesArguments.java
  src/main/java/org/dita/dost/invoker/InitArguments.java
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/invoker/ValidateArguments.java
  src/main/plugins/org.dita.base/build_init.xml
  src/main/plugins/org.dita.base/build_preprocess2_template.xml
  src/main/plugins/org.dita.validate/build_template.xml
  src/main/plugins/org.dita.validate/plugin.xml
  src/main/resources/cli_en_US.properties
  src/test/java/org/dita/dost/invoker/ArgumentParserTest.java
Labels: feature, CLI

#4558 allow @ character in plugin directory
  src/main/java/org/dita/dost/invoker/Main.java
Labels: bug, priority/medium

#4565 Update to FOP 2.10
  src/main/plugins/org.dita.pdf2.fop/build.gradle
  src/main/plugins/org.dita.pdf2.fop/plugin.xml
Labels: priority/medium, enhancement, plugin/pdf/fop, dependency

#4570 Support @height, @width on videos
  src/main/plugins/org.dita.html5/xsl/topic.xsl
Labels: priority/medium, enhancement, DITA 2.0

#4573 Update plug-in dependencies
  build.gradle
Labels: feature, dependency

#4574 Improve distribution notice file
  .github/workflows/release-test.yml
  gradle/dist.gradle
Labels: enhancement, build

#4579 Add stacktrace CLI option
  src/main/java/org/dita/dost/invoker/Arguments.java
  src/main/java/org/dita/dost/invoker/DefaultLogger.java
  src/main/java/org/dita/dost/invoker/Main.java
  src/main/java/org/dita/dost/invoker/UsageBuilder.java
  src/main/java/org/dita/dost/module/DebugAndFilterModule.java
  src/main/plugins/org.dita.pdf2/src/com/idiominc/ws/opentopic/fo/index2/IndexPreprocessorTask.java
  src/main/resources/cli_en_US.properties
Labels: priority/medium, enhancement, CLI
